Repository wikimedia-gadgets/twinkle, pull requests merged in 2019-05, with the labels that each got.

#608 tag: Restrict PNT posting for "not English" and "rough translation" to mainspace
  modules/friendlytag.js
Labels: Module: tag

#601 batchundelete: restore talk pages too
  modules/twinklebatchundelete.js
Labels: Enhancement, Module: batch

#618 xfd: Fix broken AfD category sorting
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#585 prod: Don't insert a stray comma when endorsing prod
  modules/twinkleprod.js
Labels: Bug, Module: prod

#584 speedy: Further improve extra parameters in CSD log
  modules/twinklespeedy.js
Labels: Bug, Enhancement, Module: speedy

#620 Speedy: Tweak db-xfd tooltip to be sysop-agnostic
  modules/twinklespeedy.js
Labels: Module: xfd

#583 xfd: Adjust edit summaries for parallelism and to be more helpful
  modules/twinklexfd.js
Labels: Module: xfd

#623 Image: Link "speedy deletion policy" directly to #Files
  modules/twinkleimage.js
Labels: Module: speedy

#579 tag: Cleanup regex, put tags under AfD notices, fix prod regex, put under salt and endorsed prod
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#625 tag: fix bug when processing items with type=div
  modules/friendlytag.js
Labels: Bug, Module: tag

#616 batchundelete: Improvements to morebits.wiki.page, short- and long-term alleviation of #613, color like batchdelete
  modules/twinklebatchundelete.js
  morebits.js
Labels: Bug, Enhancement, Module: batch, Module: morebits

#580 xfd: add delsort to afd
  modules/twinklexfd.js
Labels: Enhancement, Module: xfd

#619 xfd: Use indexOf instead of startsWith, the latter isn't supported in IE 11
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#628 fluff: Remove overly parsimonious check for diffs, blocked links if diff content hidden
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#622 ARV: Remove completely from user's own pages
  modules/twinklearv.js
Labels: Module: arv

#629 Revert "protect: Don't fail if flaggedrevs/pending changes aren't enabled"
  modules/twinkleprotect.js
Labels: Bug, Depends on MW, Module: protect

#630 fluff: don't create rollback links for single-revision pages on contribs
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#485 tag: Add untag functionality
  modules/friendlytag.js
  morebits.js
Labels: Enhancement, Module: tag

#592 warn: Reorganize messages object, should make it more clear to maintain
  modules/twinklewarn.js
Labels: Module: warn

#598 morebits: Remove Morebits.bytes
  morebits.js
Labels: Module: morebits

#600 morebits: Remove Morebits.wikipedia
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  morebits.js
Labels: Module: morebits

#633 protect: re-enable check for flaggedrevs/pending changes being enabled
  modules/twinkleprotect.js
Labels: Module: protect

#636 Speedy: Use fullurl when linking to file logs on CSD log
  modules/twinklespeedy.js
Labels: Module: speedy

#642 tag: place new tags under {{AfDM}}, make \n optional in prod
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#626 warn: Add vanarticle parameter to user talk links on diffs
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#581 batchdelete: allow deletion of subpages
  modules/twinklebatchdelete.js
  morebits.js
Labels: Enhancement, Module: batch

#632 fluff: Only add links if the user has necessary perms to edit the page
  modules/twinklefluff.js
Labels: Enhancement, Module: fluff

#634 xfd: simplify conditions in callback.evaluate
  modules/twinklexfd.js
Labels: Module: xfd

#639 xfd: check "Wrap deletion tag with <noinclude>" if page carries {{sub…
  modules/twinklexfd.js
Labels: Enhancement, Module: xfd

#645 Morebits: Add documentation for Morebits.status
  morebits.js
Labels: Module: morebits, docs

#563 speedy: New option for sysops: notify creator upon deletion
  modules/twinkleconfig.js
  modules/twinklespeedy.js
  twinkle.js
Labels: Enhancement, Module: speedy

#637 prod: Detect prior XfDs using templates on talk page rather than just existence of AfD discussion
  modules/twinkleprod.js
Labels: Module: prod

#647 tag: add quick filtering functionality
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#648 tag: add status text after Submit button, fix untag bug
  modules/friendlytag.js
Labels: Bug, Enhancement, Module: tag

#641 warn: use jquery.chosen on select box
  .gitignore
  modules/twinklewarn.js
Labels: Enhancement, Module: warn
