Repository wikimedia-gadgets/twinkle, pull requests merged in 2019-11, with the labels that each got.

#710 Correctly notify the creator of article, if it began as a redirect
  modules/twinkleprod.js
  modules/twinklexfd.js
  morebits.js
Labels: Enhancement, Module: morebits, Module: prod, Module: xfd

#720 xfd: Add showontransclusion=1 to templatespace rfd noms
  modules/twinklexfd.js
Labels: Module: xfd

#728 tag: Move quick filter up, move patrol checkbox to bottom
  modules/friendlytag.js
Labels: Module: tag

#736 arv: Fix bug in hours calculation in AN3 reporting
  modules/twinklearv.js
Labels: Bug, Module: arv

#698 xfd: add support for RM
  modules/twinklexfd.js
Labels: Enhancement, Module: xfd

#734 twinklebatchprotect: Add support for shift-clicking checkboxes
  modules/twinklebatchprotect.js
Labels: Enhancement, Module: batch

#739 docs: Add CONTRIBUTING.md and DEVELOPER.md
  CONTRIBUTING.md
  DEVELOPER.md
  README.md
  package.json
Labels: docs

#731 tag: Fix bug in redirect tag matching
  modules/friendlytag.js
Labels: Bug, Module: tag

#732 tag: fix bug when there are no available tags
  modules/friendlytag.js
Labels: Bug, Module: tag

#493 morebits: allow API calls in JSON format
  morebits.js
Labels: Enhancement, Module: morebits

#740 xfd: Fix bug in notification checkbox when changing modes
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#743 twinkle.js: Add Special:Block to whitelisted special pages
  modules/friendlytalkback.js
  modules/twinklearv.js
  modules/twinkleblock.js
  twinkle-pagestyles.css
  twinkle.js
Labels: Enhancement, Module: twinkle

#733 arv: Check for bot reports at AIV, ask user to confirm report
  modules/twinklearv.js
Labels: Enhancement, Module: arv

#755 xfd: Follow redirects to delsort pages
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#760 docs: Note deprecation of certain jQuery positional selectors
  DEVELOPER.md
Labels: Docs

#771 prod: trim talk page edit summary
  modules/twinkleprod.js
Labels: Module: prod

#756 twinkle/morebits/config: remove antique IE 9 stuff
  modules/twinkleconfig.js
  morebits.js
  twinkle.js
Labels: Module: config, Module: twinkle
