Repository wikimedia-gadgets/twinkle, pull requests merged in 2019-06, with the labels that each got.

#650 xfd: Update regex for removing already-present AfD tags
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#649 tag: Update descriptions of article tags
  modules/friendlytag.js
  modules/twinklewarn.js
Labels: Module: tag, Module: warn

#653 tag: preserve checked status of custom tags over mode change
  modules/friendlytag.js
Labels: Bug, Module: tag

#654 tag: rm Cleanup SVG, merged with/redirected to Cleanup image
  modules/friendlytag.js
Labels: Module: tag

#610 Shift morebits lookupCreator to lookupCreation, also include timestamp; use in prod to limit BLP category alert
  modules/friendlytag.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinklespeedy.js
  modules/twinklexfd.js
  morebits-test.js
  morebits.js
Labels: Enhancement, Module: morebits, Module: prod

#651 Add jquery.chosen to the gadget file
  README.md
  modules/twinklewarn.js
  modules/twinklexfd.js
Labels: Module: warn, Module: xfd, docs

#655 warn: make chosen width 💯
  modules/twinklewarn.js
Labels: Bug, Module: warn

#661 warn: make jquery.chosen based menu optional, via-opt-out
  modules/twinkleconfig.js
  modules/twinklewarn.js
  twinkle.js
Labels: Enhancement, Module: warn

#660 warn: fix display of specialized input prompts
  modules/twinklewarn.js
Labels: Bug, Module: warn

#658 Fluff partial 632 revert
  modules/twinklefluff.js
Labels: Bug, Enhancement, Module: fluff

#663 warn/xfd: force chosen select menu to display over the dialog; padding fix in xfd
  modules/twinklewarn.js
  modules/twinklexfd.js
Labels: Enhancement, Module: warn

#664 warn: increase height of chosen select
  modules/twinklewarn.js
Labels: Module: warn

#669 warn: don't bold usertalk links on diffs
  modules/twinklewarn.js
Labels: Module: warn

#657 Greatly expand style guidelines, enforce linting rules
  .eslintrc.json
  README.md
  modules/friendlyshared.js
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklediff.js
  modules/twinklefluff.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits-test.js
  morebits.js
  package-lock.json
  package.json
  twinkle.js
Labels: docs

#672 warn/xfd: a few fixes for chosen css
  modules/twinklewarn.js
  modules/twinklexfd.js
Labels: Bug, Module: warn, Module: xfd

#640 Protect: Hide on mediawiki pages
  modules/twinkleprotect.js
Labels: Module: protect

#677 batchprotect: Fix bug from OOUI-ification of Special:PrefixIndex
  modules/twinklebatchprotect.js
Labels: Bug, Module: batch

#678 morebits: replace + in Morebits.queryString (fix longstanding bug)
  morebits.js
Labels: Bug, Module: morebits

#676 warn: Fix decade-old bug in regex parsing sig timestamps
  modules/twinklewarn.js
Labels: Bug, Module: warn
