Repository wikimedia-gadgets/twinkle, pull requests merged in 2019-04, with the labels that each got.

#565 prod: Update regex for non-prod deletion templates
  modules/twinkleprod.js
Labels: Module: prod

#559 prod: Enable BOOKPROD on userspace books in appropriate category
  modules/twinkleprod.js
Labels: Module: prod

#578 speedy/prod: don't log notification if that failed
  modules/twinkleprod.js
  modules/twinklespeedy.js
Labels: Module: prod, Module: speedy

#566 prod: Check for old PROD templates on talkpage or an existing AfD, abort if found
  modules/twinkleprod.js
Labels: Enhancement, Module: prod

#562 fluff: Add [restore this revision] link to oldid pages
  modules/twinklefluff.js
Labels: Enhancement, Module: fluff

#594 batchdelete: fix bug in image-delinker
  modules/twinklebatchdelete.js
Labels: Bug, Module: batch

#599 morebits: Remove string trimming shims
  morebits.js
Labels: Module: morebits

#575 speedy: add `showInNamespaces` and `hideInNamespaces` properties to csd criteria lists
  modules/twinklespeedy.js
Labels: Module: speedy

#535 speedy: Add link to log when logging files
  modules/twinklespeedy.js
Labels: Module: speedy

#587 warn: Show signature in preview as well
  modules/twinklewarn.js
Labels: Module: warn

#560 protect: Disable pending changes dropdown on ineligible namespaces
  modules/twinkleprotect.js
Labels: Module: protect

#551 protect: Don't fail if flaggedrevs/pending changes aren't enabled
  modules/twinkleprotect.js
Labels: Enhancement, Module: protect

#607 Remove extra blank line for UAA reports
  modules/twinklearv.js
Labels: Module: arv

#576 block: Remove old fix for indef expirys that is no longer necessary, refactor some regex
  modules/twinkleblock.js
Labels: Module: block

#567 prod: Add {{old prod}} to talkpage on nomination
  modules/twinkleprod.js
Labels: Enhancement, Module: prod

#595 warn: remove old fix for out-of-range defaultGroup
  modules/twinklewarn.js
Labels: Module: warn

#451 protect: Remove autoconfirmed from dropdowns when inappropriate
  modules/twinklebatchprotect.js
  modules/twinkleprotect.js
Labels: Module: protect

#547 welcome: Enable on every user-related page
  modules/friendlywelcome.js
Labels: Enhancement, Module: welcome

#612 Config: Add <nowiki> tags to user config pages
  modules/twinkleconfig.js
Labels: Bug
