Repository wikimedia-gadgets/twinkle, pull requests merged in 2019-12, with the labels that each got.

#746 config: improve detection of legacy-style preferences
  modules/twinkleconfig.js
Labels: Enhancement, Module: config

#781 protect: use API text output to check if page is redirect
  modules/twinkleprotect.js
Labels: Enhancement, Module: protect

#768 warn: Prefer bottom warning for latest if dates are the same
  modules/twinklewarn.js
Labels: Module: warn

#776 eslint: Enforce dot-notation
  .eslintrc.json
  morebits-test.js
Labels: Docs

#764 speedy: Tweak descriptions of items to more closely match WP:CSD
  modules/twinklespeedy.js
Labels: Module: speedy

#758 talkback: move configurable noticeboard-related data into an object
  modules/friendlytalkback.js
Labels: Module: talkback

#774 arv: Disable UAA and promo-only for IPs
  modules/twinklearv.js
Labels: Module: arv

#763 twinkle: fix up menus in vector and timeless
  twinkle.js
Labels: Enhancement, Module: twinkle

#762 Unify twinkleconfig and friendlyconfig
  modules/friendlyshared.js
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklediff.js
  modules/twinklefluff.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  twinkle.js
Labels: Module: config, Module: twinkle

#747 welcome: put all template and grouping data in a single object
  modules/friendlywelcome.js
Labels: Module: welcome

#784 block: Update {{uw-ublock-famous}} reason label
  modules/twinkleblock.js
Labels: Module: block

#786 warn: renamed uw-inline-el to uw-elinbody
  modules/twinklewarn.js
Labels: Module: warn

#761 warn: Move uw-wrongsummary from warning to notice list
  modules/twinklewarn.js
Labels: Module: warn
