Repository wikimedia-gadgets/twinkle, pull requests merged in 2019-10, with the labels that each got.

#668 tag: quick filter: minor changes
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#717 tag: Indicate direction of merge in talk page notification header
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#719 tag: Don't place {{current}} in MI
  modules/friendlytag.js
Labels: Module: tag

#724 tag: add quick filter for redirects and files too
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#729 jquery.ui.dialog (and others) being moved within jquery.ui
  README.md
  morebits-test.js
  morebits.js
Labels: Module: morebits, docs

#675 morebits: quickform input and textarea improvements
  morebits.js
Labels: Bug, Module: morebits

#722 morebits: Use custom message for spamblacklist
  morebits.js
Labels: Module: morebits

#727 warn: Add own4 and tpv4im
  modules/twinklewarn.js
Labels: Module: warn

#735 prod: old prod/xfd detection bug fix
  modules/twinkleprod.js
Labels: Module: prod

#682 morebits: fix handling of invalid token errors
  morebits.js
Labels: Module: morebits
