Repository wikimedia-gadgets/twinkle, pull requests merged in 2019-09, with the labels that each got.

#510 morebits: enable multiline unbinder
  morebits.js
Labels: Module: morebits

#686 Show G14 on redirects
  modules/twinklespeedy.js
Labels: Module: speedy

#697 speedy: include xfd page name as parameter in db-repost-notice
  modules/twinklespeedy.js
Labels: Enhancement, Module: speedy

#674 speedy: Allow P1 when multiple
  modules/twinklespeedy.js
Labels: Module: speedy

#703 tag: Update globalize template following TfD
  modules/friendlytag.js
Labels: Module: tag

#635 morebits: internationalize Date, and remove unused functions
  morebits.js
Labels: Module: morebits

#681 batchprotect: Add red color and confirmations for fully protected pages
  modules/twinklebatchprotect.js
Labels: Enhancement, Module: batch

#707 morebits: Update handling of blacklist and abusefilter errors from API (breaking change for 1.34.0-wmf.23)
  modules/twinklefluff.js
  morebits.js
Labels: Module: fluff, Module: morebits

#711 Convert mw.RegExp.escape to mw.util.escapeRegExp as the former is being deprecated
  README.md
  modules/friendlytag.js
  modules/twinklewarn.js
  morebits.js
Labels: Module: morebits, Module: tag, Module: warn

#712 morebits: Use csrfToken in mw.user.tokens
  morebits.js
Labels: Module: morebits

#714 tag: Fix regression leaving generic {{merge}} instead of {{merge to}} or {{merge from}}
  modules/friendlytag.js
Labels: Bug, Module: tag
