Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-12, with the labels that each got.

#1213 Add some basic QUnit tests for Morebits functions
  .eslintrc.json
  .github/workflows/mb_funcs.yml
  DEVELOPER.md
  README.md
  package-lock.json
  package.json
  scripts/morebits-test.js
  scripts/patch-test.js
  scripts/server.js
  scripts/sync.pl
  tests/mocking/mb_repl.js
  tests/mocking/mb_repl_head.js
  tests/mocking/mw_config_data.js
  tests/mocking/mw_shim.js
  tests/morebits.array.js
  tests/morebits.batchOperation.js
  tests/morebits.date.js
  tests/morebits.js
  tests/morebits.string.js
  tests/morebits.wikitext.js
Labels: Docs, Enhancement, Module: morebits, Tests, dependencies

#1201 morebits: Getter for page's content model
  morebits.js
Labels: Enhancement, Module: morebits

#1202 morebits: date.format: add SSS for milliseconds fragment
  morebits.js
  tests/morebits.date.js
Labels: Module: morebits

#1179 morebits: Use new error formats (default to html) in api; use $.parseHTML in status messages
  morebits.js
  tests/mocking/mb_repl_head.js
Labels: Deprecations, Enhancement, Module: morebits, Other wikis

#1214 morebits.wikitext.parseTemplate: Drop = and }} for final parameter
  morebits.js
  tests/morebits.wikitext.js
Labels: Bug, Module: morebits

#1211 xfd: Don't try to add edit request if page is already a talk
  modules/twinklexfd.js
Labels: Module: xfd

#1227 tag: fix minor bug (from #1216)
  modules/friendlytag.js
Labels: Bug, Module: tag

#1231 block: Add Horn of Africa DS topic
  modules/twinkleblock.js
Labels: Module: block

#1228 tests: Expand Morebits.date tests, begin basic unit tests for Morebits.taskManager
  tests/morebits.batchOperation.js
  tests/morebits.date.js
  tests/morebits.taskManager.js
  tests/morebits.wikitext.js
Labels: Tests

#1232 xfd: rfd: unbreak target page notification for userspace
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#1204 arv: Note and soften message if user is already blocked
  modules/twinklearv.js
Labels: Enhancement, Module: arv

#1222 fluff: Only try to show oldid links on pages that actually exist
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#1200 morebits: Add YYYYMMDDHHmmss to morebits.date constructor
  morebits.js
  tests/morebits.date.js
Labels: Enhancement, Module: morebits, Tests

#1229 morebits.date.monthHeaderRegex: Require matching level markers
  morebits.js
  tests/morebits.date.js
Labels: Module: morebits, Tests

#1225 morebits.wikitext.parseTemplate: Fixes for unnamed parameters, internal templates
  morebits.js
  tests/morebits.wikitext.js
Labels: Bug, Module: morebits, Tests

#1224 Convert all morebits/twinkle modules to use json, not xml, by default
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkledeprod.js
  modules/twinklediff.js
  modules/twinklefluff.js
  modules/twinkleprod.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.js
Labels: Bug, Enhancement, Module: batch, Module: fluff, Module: morebits, Module: prod, Module: speedy, Module: tag, Module: talkback, Module: unlink, Module: warn, Module: xfd

#1195 arv: AN3: Don't follow redirects; always show resolution free entry field
  modules/twinklearv.js
Labels: Enhancement, Module: arv

#1230 morebits.wiki.page: Get watched status of page, only apply watchlist expiry if unwatched
  modules/twinklefluff.js
  modules/twinklexfd.js
  morebits.js
Labels: Bug, Enhancement, Module: fluff, Module: morebits, Module: xfd

#1196 warn: Add uw-notenglishedit
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#1193 xfd: Adjust portlet tooltip to be more accurate
  modules/twinklexfd.js
Labels: Module: xfd

#1235 xfd: logging: minor tweaks
  modules/twinklexfd.js
Labels: Module: xfd

#1208 speedy/xfd: Handle non-wikitext contentmodels
  modules/twinklespeedy.js
  modules/twinklexfd.js
Labels: Bug, Enhancement, Module: speedy, Module: xfd

#1126 tag: Offer separate watchlist options for different tagging venues
  modules/friendlytag.js
  modules/twinkleconfig.js
  twinkle.js
Labels: Deprecations, Module: config, Module: tag, Module: twinkle

#1236 morebits/xfd: improve formatReasonText
  modules/twinklexfd.js
  morebits.js
  tests/morebits.string.js
Labels: Module: morebits, Module: xfd, Tests

#1133 protect: Add options for watching protected/requested/tagged pages
  modules/twinkleconfig.js
  modules/twinkleprotect.js
  twinkle.js
Labels: Enhancement, Module: config, Module: protect, Module: twinkle

#1241 protect: Don't overwrite indefinite watching with expiry
  modules/twinkleprotect.js
Labels: Bug, Module: protect

#1233 morebits: page: allow binding to existing statusElement
  morebits.js
Labels: Enhancement, Module: morebits

#1234 morebits: userspaceLogger: return a promise
  modules/twinkleprod.js
  morebits.js
Labels: Module: morebits, Module: prod

#1243 morebits: use blue colour for "Redirected from" message
  morebits.js
Labels: Module: morebits

#1245 morebits: Fix missing letter in fnLookupNonRedirectCreator
  morebits.js
Labels: Bug, Module: morebits

#1239 morebits.wikitext.page: bugfix: Exactly match templates and files
  morebits.js
  tests/morebits.wikitext.js
Labels: Bug, Module: morebits, Tests

#1194 block/protect: Show expiry/timestamp for last action (if not currently restricted)
  modules/twinkleblock.js
  modules/twinkleprotect.js
Labels: Enhancement, Module: block, Module: protect

#1242 morebits: Force loading of a page if a watchlist expiry is provided
  modules/twinkleprotect.js
  morebits.js
Labels: Bug, Module: morebits

#1240 mb.wikitext.page: Fix ancient bug where multiple occurences were not being processed
  morebits.js
  tests/morebits.wikitext.js
Labels: Bug, Module: morebits

#1246 tag: Fix rcat matching when 1= is explicitly used
  modules/friendlytag.js
Labels: Bug, Module: tag

#1238 morebits.pageNameRegex: Properly escape entire string, use in Morebits.wikitext.page
  morebits.js
  tests/mocking/mw_config_data.js
  tests/mocking/mw_shim.js
  tests/mocking/phpCharToUpper.json
  tests/morebits.js
Labels: Enhancement, Module: morebits, Tests

#1217 speedy: Remove T3
  modules/twinkleconfig.js
  modules/twinklespeedy.js
  twinkle.js
Labels: Module: speedy

#1255 tag: Fix bug in file and redirect tagging from #1126
  modules/friendlytag.js
Labels: Bug, Module: tag
