Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-10, with the labels that each got.

#1141 xfd: Update delsort categories
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#1143 morebits: Fix bug in getting new token
  morebits.js
Labels: Bug, Module: morebits

#1132 xfd: Remove final uses of client clock
  modules/twinklexfd.js
Labels: Module: xfd

#1145 xfd: Fix AfD bug attempting to triage wrong page
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#1147 xfd: tfd: auto-select type=inline for inline templates
  modules/twinklexfd.js
Labels: Enhancement, Module: xfd

#1146 morebits: restore button font size
  morebits.css
Labels: Bug, Module: morebits

#1148 morebits: Fix bug inverting whether we need to query protection status
  morebits.js
Labels: Bug, Module: morebits

#1149 morebits: triage: Don't assume we're triaging the current page
  morebits.js
Labels: Bug, Module: morebits

#1150 morebits: swallow fake triage success
  morebits.js
Labels: Bug, Module: morebits

#1156 fluff: Fix bug in identifying revid
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#1137 morebits: remove getChecked/getUnchecked from HTMLFormElement prototype
  morebits.js
Labels: Module: morebits

#1157 Revert "morebits: remove getChecked/getUnchecked from HTMLFormElement prototype"
  morebits.js
Labels: Bug, Deprecations, Module: morebits

#1083 morebits: Add newSection method to wiki.page
  modules/friendlytag.js
  morebits.js
Labels: Enhancement, Module: morebits, Module: tag

#1159 batchprotect: Fix bug in setting defaults
  modules/twinklebatchprotect.js
Labels: Bug, Module: batch

#1142 Create dev folder, move dev scripts and docs there
  .eslintrc.json
  CONTRIBUTING.md
  dev/DEVELOPER.md
  dev/morebits-test.js
  dev/patch-test.js
  dev/sync.pl
  gadget.txt
  lib/select2-LICENSE.md
  lib/select2.min.css
  lib/select2.min.js
  oldtwinkle.js
  package.json
Labels: Docs

#1036 morebits: add Morebits.taskManager
  .eslintrc.json
  modules/twinkleprod.js
  morebits.js
Labels: Bug, Enhancement, Module: morebits, Module: prod

#1098 tag: Combine {{Do not move to Commons}} options, add expiry option
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#1134 fluff: Add preference to require confirmation on mobile
  modules/twinkleconfig.js
  modules/twinklefluff.js
  twinkle.js
Labels: Enhancement, Module: config, Module: fluff, Module: twinkle

#1039 block: Add DS topic codes for aeblock/aepblock
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#1138 speedy: Note number of previous deletions
  modules/twinklespeedy.js
Labels: Enhancement, Module: speedy

#1162 speedy: code cleanup
  modules/twinklespeedy.js
Labels: Module: speedy

#1160 Make patch-test.js work on Windows
  dev/patch-test.js
Labels: Tests

#1009 tag: Add {{paid contributions}}
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#1167 speedy: fix bug inverting watchPage parameter
  modules/twinklespeedy.js
Labels: Bug, Module: speedy

#1151 Lint via GitHub actions rather than travis-ci
  .github/workflows/lint.yml
  .travis.yml
  README.md
Labels: Tests

#1168 speedy: Fix bug from #1162 (failure to swap index/norm)
  modules/twinklespeedy.js
Labels: Bug, Module: speedy

#1166 talkback: Fix capitalization in edit summaries
  modules/friendlytalkback.js
Labels: Module: talkback

#1169 tag: fix bugs in processing of existing tags
  modules/friendlytag.js
Labels: Bug, Module: tag

#1171 block: Fix bug when toggling form option
  modules/twinkleblock.js
Labels: Bug, Module: block

#1174 morebits date: Refactor MW timestamps to ISO 8601
  morebits.js
Labels: Bug, Module: morebits

#1172 block: Don't add expiry to template if it's a date, not a duration
  modules/twinkleblock.js
Labels: Bug, Module: block
