Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-07, with the labels that each got.

#1014 warn: Fix bug where autolevel message wouldn't display
  modules/twinklewarn.js
Labels: Bug, Module: warn

#1013 tag: Fix bug in processing existing tags
  modules/friendlytag.js
Labels: Bug, Module: tag

#1015 morebits: Fix bug defaulting followCrossNsRedirect to false
  morebits.js
Labels: Bug, Module: morebits

#995 tag: Fix issue in whitespace matching preexisting rcats
  modules/friendlytag.js
Labels: Bug, Module: tag

#982 fluff: Don't add restoreThisRevision links to revdel'd history revisions
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#973 prod: Fix a number of bugs around endorsing
  modules/twinkleprod.js
Labels: Bug, Module: prod

#964 fluff: Actually use revertMaxRevisions, ignored for 13 years
  modules/twinklefluff.js
  twinkle.js
Labels: Bug, Deprecations, Module: fluff

#970 Remove useragent 2.0 specification
  morebits.js
  twinkle.js
Labels: Module: morebits, Module: twinkle

#876 block: better detect bots and turn off autoblock
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#1004 tag: rename 'Quick filter' label to 'Filter tag list'
  modules/friendlytag.js
Labels: Module: tag

#1012 xfd/warn/block: Remove 10k z-index on select2 dropdowns
  modules/twinkleblock.js
  modules/twinklewarn.js
  modules/twinklexfd.js
Labels: Module: block, Module: warn, Module: xfd

#1018 tag: Fix regex for renamed {{other hurricanes}}
  modules/friendlytag.js
Labels: Bug, Module: tag

#989 twinkle: Remove leftover classes from #962, rename outerdiv to outernav
  twinkle.js
Labels: Module: twinkle

#1021 protect: Fix bug in processing checkboxes
  modules/twinkleprotect.js
Labels: Bug, Module: protect

#978 Merge individual chunk prefs into one: batchChunks
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  twinkle.js
Labels: Deprecations, Module: batch, Module: config, Module: twinkle

#998 unlink: Alert/return if no pages selected, show more accurate interface message
  modules/twinkleunlink.js
Labels: Module: unlink

#966 fluff/warn: Pass timestamp from fluff to warn, allow skipping stale API check
  modules/twinklefluff.js
  modules/twinklewarn.js
Labels: Enhancement, Module: fluff

#972 prod: Don't include empty reason in log
  modules/twinkleprod.js
Labels: Bug, Module: prod

#1006 prod: Require confirmation if an empty reason is provided
  modules/twinkleprod.js
Labels: Module: prod

#1017 tag: Don't follow cross-namespace redirect when posting to user talk page
  modules/friendlytag.js
Labels: Module: tag

#1003 Restructure and combine article tag objects outside of sortorder
  modules/friendlytag.js
Labels: Module: tag

#1031 warn: Add outing to uw-pinfo label to aid in searching
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#1024 sync.pl: Add --all option to simplify updating, delete makefile
  DEVELOPER.md
  Makefile
  sync.pl
Labels: Docs

#1032 morebits: mb.w.p: Don't allow null append or prepend text
  morebits.js
Labels: Bug, Module: morebits

#1000 tag: Disallow conflicting file tags and use functions to validate
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#1002 tag: Restructure redirect list, expand list by ~60
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#1016 warn: Don't follow cross-namespace redirects out of usertalk space
  modules/twinklewarn.js
Labels: Bug, Enhancement, Module: warn

#946 Decentralise module initialisations
  DEVELOPER.md
  modules/friendlyshared.js
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklediff.js
  modules/twinklefluff.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  twinkle.js
Labels: Deprecations, Docs, Gadget, Module: arv, Module: batch, Module: block, Module: config, Module: fluff, Module: prod, Module: protect, Module: speedy, Module: tag, Module: talkback, Module: twinkle, Module: unlink, Module: warn, Module: welcome, Module: xfd

#1042 speedy: Add rationale field for templatecat
  modules/twinklespeedy.js
Labels: Enhancement, Module: speedy

#1035 docs: Put gadget definition in Gadget.md, enable checking via sync.pl
  DEVELOPER.md
  Gadget.md
  sync.pl
Labels: Docs, Gadget

#1038 morebits: api improvements
  morebits.js
Labels: Enhancement, Module: morebits

#1026 warn: Fix a couple bugs in custom warning edit summaries
  modules/twinklewarn.js
Labels: Bug, Module: warn

#1028 warn: Fix bug in autolevel not elevating level for singlewarn
  modules/twinklewarn.js
Labels: Bug, Module: warn

#1023 warn: Move autolevel to top of menu, add tooltip re: customizing default, focus on select2 input
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#1022 Add `insertAfterTemplates` to Morebits.wikitext.page, respect MOS:ORDER when tagging, update hatnotes
  modules/friendlytag.js
  modules/twinklebatchdelete.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Enhancement, Module: morebits, Module: prod, Module: protect, Module: speedy, Module: tag, Module: twinkle, Module: xfd

#1041 morebits: integrate checkboxShiftClickSupport into quickForm
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleunlink.js
  morebits.js
Labels: Enhancement, Module: batch, Module: morebits

#1043 speedy: Remove T2
  modules/twinkleconfig.js
  modules/twinklespeedy.js
  twinkle.js
Labels: Module: speedy

#1046 lint: Update eslint to v7.4.0, add no-unreachable-loop
  .eslintrc.json
  package-lock.json
  package.json
Labels: dependencies

#1044 Fix testing, move addInitCallback below callback definitions
  modules/friendlyshared.js
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklediff.js
  modules/twinklefluff.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
Labels: Bug, Tests

#1040 morebits: array: use better/more efficient implementations
  morebits.js
Labels: Enhancement, Module: morebits

#1020 protect: Don't suggest asking bots to unprotect
  modules/twinkleprotect.js
Labels: Bug, Module: protect

#993 fluff: Fail nicely on and don't reveal revdel'd usernames
  modules/twinklefluff.js
Labels: Module: fluff

#971 morebits: Remove tipsy dependency, use jQuery UI for tooltips
  Gadget.md
  morebits.css
  morebits.js
Labels: Deprecations, Docs, Module: morebits

#1055 tag: fix quickfilter (file/redir) and showing of subgroups (redir)
  modules/friendlytag.js
Labels: Bug, Module: tag

#1056 warn: Don't insert twinkle-warn-warning-message before render
  modules/twinklewarn.js
Labels: Bug, Module: warn

#1059 tag: Fix process for present tags not included in the module
  modules/friendlytag.js
Labels: Bug, Module: tag

#1060 morebits: insertAfterTemplates: Only throw if undefined aka not provided
  morebits.js
Labels: Bug, Module: morebits

#1063 morebits: getInputData: Fix dumb IE bug
  morebits.js
Labels: Bug, Module: morebits

#1068 morebits: Default protection expirys to infinity
  morebits.js
Labels: Bug, Module: morebits, Module: protect

#1072 fluff: Fix username for IP ranges on Special:Contributions
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#1057 Morebits.string: isInfinity to determine whether MW will treat a string as infinite, use in block
  modules/twinklebatchprotect.js
  modules/twinkleblock.js
  modules/twinkleprotect.js
  morebits.js
Labels: Deprecations, Enhancement, Module: batch, Module: block, Module: morebits, Module: protect

#1071 protect: Ensure a valid type of move protection
  modules/twinkleprotect.js
Labels: Bug, Module: protect

#1064 tag: Apply subst to appropriate file tags, don't link
  modules/friendlytag.js
Labels: Bug, Module: tag
