Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-06, with the labels that each got.

#954 warn: Restore uw-ewsoft after DRV
  modules/twinklewarn.js
Labels: Module: warn

#777 warn: Add option to autoselect warning level 1-4
  modules/twinkleconfig.js
  modules/twinklewarn.js
  twinkle.js
Labels: Enhancement, Module: warn

#839 xfd: Add XfD log, parallel to CSD and PROD
  modules/twinkleconfig.js
  modules/twinklexfd.js
  twinkle.js
Labels: Enhancement, Module: config, Module: twinkle, Module: xfd

#898 tag: Italicize tags already present in form
  modules/friendlytag.js
Labels: Module: tag

#926 xfd: Disable CfD/S outside category space
  modules/twinklexfd.js
Labels: Module: xfd

#938 config: Remove testing invocation on named user subpage
  modules/twinkleconfig.js
Labels: Module: config

#949 fluff: Don't say reversion completed if there's no change
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#952 block: Fix bug showing erroneous input box on a reblock form initialization
  modules/twinkleblock.js
Labels: Bug, Module: block

#942 fluff: Add rollback links to Special:Recentchanges and history pages
  modules/twinkleconfig.js
  modules/twinklefluff.js
  twinkle.js
Labels: Enhancement, Module: config, Module: fluff

#948 fluff: Don't open the talkpage unless/until the reversion is complete
  modules/twinklefluff.js
Labels: Enhancement, Module: fluff

#955 morebits: Use background-color instead of a dataurl
  morebits.css
  morebits.js
Labels: Module: morebits

#765 morebits.wiki.api: enable promise support
  modules/twinklespeedy.js
  morebits.js
Labels: Module: morebits

#956 speedy: Align A7 criteria labels with the actual criteria
  modules/twinklespeedy.js
Labels: Module: speedy

#947 fluff: Unify link creation functions, add rollbackInPlace option for Contribs/RC
  modules/twinkleconfig.js
  modules/twinklefluff.js
  twinkle.js
Labels: Enhancement, Module: fluff

#930 morebits: Only triage or patrol if page is available for doing so
  morebits.js
Labels: Bug, Module: morebits

#919 block: Check if the user was blocked while filling out the form
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#960 xfd: Link chosen delsort cats to their pages, expand tooltip
  modules/twinklexfd.js
Labels: Enhancement, Module: xfd

#967 warn/welcome: Remove uses of Object.values, not supported by IE
  modules/friendlywelcome.js
  modules/twinklewarn.js
Labels: Bug, Module: warn, Module: welcome

#957 talkback: Add Template:EFFPReply
  modules/friendlytalkback.js
Labels: Enhancement, Module: talkback

#975 prod: Fix caps matching for {{Proposed deletion endorsed}}
  modules/twinkleprod.js
Labels: Bug, Module: prod

#963 twinkle.js: Use HTML5 nav instead of div+role=navigation
  twinkle.js
Labels: Module: twinkle

#981 xfd: Fix xfd log numbering
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#977 morebits: Restore some importants removed in 9a71ba2, required for Vector
  morebits.css
Labels: Bug, Module: morebits

#976 Rename whitelist to use clearer terms
  modules/twinklefluff.js
  morebits.js
  twinkle.js
Labels: Module: fluff, Module: twinkle

#983 Note dependencies on mediawiki.Title (morebits) and mediawiki.api (Twinkle)
  DEVELOPER.md
  morebits.js
Labels: Docs

#999 [ARV] Cleanup: Don't save single-use api variables
  modules/twinklearv.js
Labels: Module: arv

#994 fluff: Fix trustedBots array
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#1007 morebits: fix ability to query in JSON
  morebits.js
Labels: Bug, Module: morebits

#1010 block: fix IE bug
  modules/twinkleblock.js
Labels: Bug, Module: block

#908 morebits: Morebits.quickForm.getInputData
  modules/friendlyshared.js
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkledeprod.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.js
Labels: Deprecations, Enhancement, Module: batch, Module: morebits, Module: prod, Module: protect, Module: tag, Module: talkback, Module: unlink, Module: warn, Module: welcome, Module: xfd

#968 Add ESLint plugin to warn on ES6+
  .eslintrc.json
  DEVELOPER.md
  modules/twinklefluff.js
  package-lock.json
  package.json
Labels: Docs

#985 morebits: Revert reintroduction of deprecated Date prototypes
  morebits.js
Labels: Deprecations, Module: morebits
