Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-03, with the labels that each got.

#844 speedy: Adjust default tag mode for sysops
  modules/twinkleconfig.js
  modules/twinklespeedy.js
  twinkle.js
Labels: Module: config, Module: speedy

#866 arv: Add entry to empty AN3 requests
  modules/twinklearv.js
Labels: Module: arv

#820 Add Morebits.userIsSysop, use everywhere instead of Morebits.userIsInGroup
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklefluff.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  morebits.js
  twinkle.js
Labels: Module: morebits

#835 morebits: Allow addFooterLink to prepend rather than append
  modules/twinkleblock.js
  morebits.js
Labels: Enhancement, Module: block, Module: morebits

#869 speedy: Log nomination even if user notification prevented
  modules/twinklespeedy.js
Labels: Bug, Module: speedy

#871 Add hijacking single warning
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#874 warn: Fix long-standing bug in cpmove warning
  modules/twinklewarn.js
Labels: Bug, Module: warn

#852 morebits: Proxy submit buttons take the className
  morebits.js
Labels: Module: morebits

#853 morebits: use innerHTML for printUserText message header, not textContent; use in ARV
  modules/twinklearv.js
  morebits.js
Labels: Enhancement, Module: arv, Module: morebits

#863 xfd: Avoid client clock for soft redirects
  modules/twinklexfd.js
Labels: Module: xfd

#857 Slightly improve handling of Scribunto/non-wikitext content models
  modules/twinklespeedy.js
  modules/twinklexfd.js
  morebits.js
Labels: Bug, Module: morebits, Module: speedy, Module: xfd

#867 morebits: Remove deprecated lookupCreator function
  morebits.js
Labels: Module: morebits

#877 tag: add and update {{notability}} parameters
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#884 speedy: wait till the creator is identified before deleting.
  modules/twinklespeedy.js
Labels: Bug, Module: speedy

#883 morebits: don't handle notoken error
  morebits.js
Labels: Module: morebits

#793 Add new option to disable individual Twinkle modules
  modules/twinkleconfig.js
  twinkle.js
Labels: Enhancement, Module: config, Module: twinkle

#873 speedy: Deduplicate utparams processing, pass everything to everybody
  modules/twinklespeedy.js
Labels: Module: speedy

#864 xfd: Align setFollowRedirect(true) use aka add to everything missing it
  modules/twinklexfd.js
Labels: Module: xfd

#860 xfd: reenable setPageSection for mfd and cfd
  modules/twinklexfd.js
Labels: Module: xfd

#881 protect: Don't ask to remove tags if you've chosen to remove them
  modules/twinkleprotect.js
Labels: Module: protect

#889 tag: allow entering a reason
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#885 morebits: Change status class to morebits_status from tw_status
  morebits.css
  morebits.js
Labels: Module: morebits

#880 Use unique class on proxy button to change button text
  modules/friendlytag.js
  modules/twinklespeedy.js
Labels: Module: speedy, Module: tag

#882 config: Don't save deprecated options, properly save hidden options
  modules/twinkleconfig.js
  twinkle.js
Labels: Bug, Module: config

#886 tag: Remove references to MI tag in edit summary
  modules/friendlytag.js
Labels: Bug, Enhancement, Module: tag

#814 Add Morebits.date
  .eslintrc.json
  DEVELOPER.md
  modules/twinklearv.js
  modules/twinkleblock.js
  modules/twinkleprod.js
  modules/twinklespeedy.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.js
Labels: Enhancement, Module: morebits

#893 morebits: Remove twinkle-specific CSS that is 100% redundant
  morebits.css
Labels: Module: morebits

#888 morebits: Use csrftoken obtained via meta=tokens
  modules/twinkleblock.js
  modules/twinklefluff.js
  morebits.js
Labels: Enhancement, Module: block, Module: fluff, Module: morebits

#875 arv: Combine AN3 queries, avoid errors, and handle revdel'd comments
  modules/twinklearv.js
Labels: Enhancement, Module: arv

#846 block: Show expiry in currently blocked message
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#892 config: Move CSS for box on userjs to twinkle.css
  modules/twinkleconfig.js
  twinkle.css
Labels: Module: config, Module: twinkle
