Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-11, with the labels that each got.

#1188 morebits: zero-pad date in constructor
  morebits.js
Labels: Bug, Module: morebits

#1088 morebits: Use common checks for wiki.page methods
  morebits.js
Labels: Module: morebits

#1182 Detect RfD nomination in Morebits.wiki.isPageRedirect, use in CSD
  modules/twinklespeedy.js
  modules/twinklexfd.js
  morebits.js
Labels: Enhancement, Module: morebits, Module: speedy, Module: xfd

#1152 morebits: Do triage properly, with extra query to determine if page is in queue
  modules/twinklexfd.js
  morebits.js
Labels: Module: morebits

#1153 xfd: Use a unified user notification function
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#1161 xfd: create empty log pages if bots fail/don't exist
  modules/twinklexfd.js
Labels: Enhancement, Module: xfd

#1158 Various fixes around cascading protection
  modules/twinkleprotect.js
  morebits.js
Labels: Bug, Enhancement, Module: morebits, Module: protect

#1091 Add intestactions to loadQuery, auto-add XfD edit request
  modules/twinklexfd.js
  morebits.js
Labels: Enhancement, Module: morebits, Module: xfd, Things to think about

#1178 Add footerlink to each dialog's preference pane
  modules/friendlyshared.js
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinkleblock.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
Labels: Enhancement

#1176 block: Favor current block information if present
  modules/twinkleblock.js
  modules/twinkleconfig.js
Labels: Bug, Enhancement, Module: block

#1186 morebits: Rename Morebits.wiki.isPageRedirect to Morebits.isPageRedirect
  modules/friendlytag.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinklespeedy.js
  morebits.js
Labels: Deprecations, Module: morebits

#1106 warn: Add uw-displaytitle
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#1181 warn: Add uw-subtle series (1-4)
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#1185 warn: Add uw-editsummary2
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#1187 morebits: date: cleanup constructor
  morebits.js
Labels: Module: morebits

#1175 morebits: Default date.format to ISOString
  morebits.js
Labels: Enhancement, Module: morebits

#1197 welcome: Replace welcome-personal with welcome-cookie
  modules/friendlywelcome.js
Labels: Module: welcome

#1184 arv: Note if reporting blocked users
  modules/twinklearv.js
Labels: Enhancement, Module: arv

#1084 warn: Append warning to an existing section, even if it's not the last
  modules/twinkleblock.js
  modules/twinklewarn.js
Labels: Enhancement, Module: block, Module: warn

#1190 Expand and standardize Morebits jsdocs, export to html and markdown
  CONTRIBUTING.md
  README.md
  morebits.js
Labels: Docs, Enhancement, Module: morebits

#1207 warn: Fix duplicate warning if found section is 0
  modules/twinklewarn.js
Labels: Bug, Module: warn

#1210 morebits.date: Don't import methods that collide with PageTriage (T268513)
  morebits.js
Labels: Bug, Depends on MW, Module: morebits, Module: xfd

#1203 morebits.date: Rearrange constructor order to fix firefox bug
  morebits.js
Labels: Bug, Module: morebits

#1090 Support for watchlist expiry
  modules/twinklearv.js
  modules/twinkleconfig.js
  modules/twinklefluff.js
  modules/twinkleimage.js
  modules/twinklespeedy.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Deprecations, Enhancement, Module: config, Module: morebits, Module: twinkle

#1199 tag: {{Bsr}} renamed to {{Better source requested}}
  modules/friendlytag.js
Labels: Module: tag

#1216 tag: initial work on l10n
  modules/friendlytag.js
Labels: Module: tag
