Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-01, with the labels that each got.

#780 morebits: better JSDocs
  morebits.js
Labels: Docs, Module: morebits

#759 warn: Add option to show the single-notice messages in a single menu
  modules/twinkleconfig.js
  modules/twinklewarn.js
  twinkle.js
Labels: Enhancement, Module: config, Module: warn

#787 config: add two missing skins to 'Looking for Twinkle' notice
  modules/twinkleconfig.js
Labels: Enhancement, Module: config

#741 Use server time rather than client time wherever possible
  modules/twinkleblock.js
  modules/twinkleprod.js
  modules/twinklespeedy.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.js
Labels: Enhancement, Module: block, Module: morebits, Module: prod, Module: speedy, Module: warn, Module: xfd

#795 talkback: Don't parse html, always check user talk page for optout
  modules/friendlytalkback.js
Labels: Bug, Enhancement, Module: talkback

#773 warn: Add option to show a list with all template warnings
  modules/twinkleconfig.js
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#798 talkback: Don't show 'False' optout always
  modules/friendlytalkback.js
Labels: Bug, Module: talkback

#782 morebits: batchOperation: minor improvements
  morebits.js
Labels: Enhancement, Module: morebits

#794 Merge pull request #794 from Amorymeltzer/morebits-fixunlinker
  morebits.js
Labels: Bug, Module: morebits, Module: unlink

#791 Merge pull request #791 from Amorymeltzer/xfd-fixrmtr-hiddencomment
  modules/twinklexfd.js
Labels: Module: xfd

#790 Protect: Add section link at rpp
  modules/twinkleprotect.js
Labels: Enhancement, Module: protect

#808 Merge pull request #808 from siddharthvp/tboptout
  modules/friendlytalkback.js
Labels: Module: talkback

#811 Merge pull request #811 from Amorymeltzer/eslint-update
  .eslintrc.json
  modules/twinklearv.js
  modules/twinkleprotect.js
  morebits-test.js
  morebits.js
  package-lock.json
  package.json
Labels: Module: arv, Module: morebits, Module: protect, dependencies

#792 fluff: Restructure fluff to use Twinkle.fluff() instead of Twinkle.fluff.init()
  CONTRIBUTING.md
  modules/twinklefluff.js
  twinkle.js
Labels: Module: fluff

#800 config: Add optionsVersion 2 to preferences now that they're unified
  modules/twinkleconfig.js
  twinkle.js
Labels: Module: config, Module: twinkle

#789 Speedy: Allow users to request salting
  modules/twinklespeedy.js
Labels: Enhancement, Module: speedy

#796 Partially revert "morebits: internationalize Date, and remove unused functions"
  morebits.js
Labels: Module: morebits

#757 warn: Note if user attempting to warn for an old edit
  modules/twinklewarn.js
Labels: Enhancement, Module: fluff, Module: warn

#813 block: Add support for partial blocks
  modules/twinkleblock.js
  modules/twinkleconfig.js
  twinkle.js
Labels: Enhancement, Module: block, Module: config

#825 block: Link pages in partial block template
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#826 block: improve partial block menus
  modules/twinkleblock.js
  modules/twinklewarn.js
  morebits.js
Labels: Bug, Enhancement, Module: block
