Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-09, with the labels that each got.

#1077 morebits: Deprecate RegExp.escape in favor of Morebits.string.escapeRegExp
  modules/twinklearv.js
  modules/twinkleprotect.js
  modules/twinklexfd.js
  morebits.js
Labels: Deprecations, Module: arv, Module: morebits, Module: protect, Module: xfd

#1100 morebits: Clearer message on ending db error
  morebits.js
Labels: Module: morebits

#1105 xfd: Include link to discussion page in the XfD log
  modules/twinklexfd.js
Labels: Enhancement, Module: xfd

#1103 xfd: Fix bugs in RfD target notifications
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#1093 xfd: Don't show reason for AfD errors that don't matter
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#1099 morebits: batchOperation: Reorder and chain else-if to avoid extra check
  morebits.js
Labels: Enhancement, Module: morebits

#1114 tag: Fix wrong extension check in should be templates
  modules/friendlytag.js
Labels: Bug, Module: tag

#1115 image: Fix bug parsing namespace in replacement
  modules/twinkleimage.js
Labels: Bug, Module: speedy

#1075 block: Don't confirm no restrictions if email harassment is selected
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#1094 xfd: various cleanups after #1030 / 81bb669
  modules/twinklexfd.js
Labels: Module: xfd

#1116 speedy: Obey watchSpeedyPages pref when deleting
  modules/twinklespeedy.js
Labels: Bug, Module: speedy

#1052 xfd/prod: show Find sources links in AfD and PROD windows
  modules/twinkleprod.js
  modules/twinklexfd.js
  twinkle.js
Labels: Enhancement, Module: prod, Module: twinkle, Module: xfd

#1125 tag: Fix one-off checkboxes for notifications
  modules/friendlytag.js
Labels: Bug, Module: tag

#1122 morebits: stabilize api properly uses watchlist parameter
  morebits.js
Labels: Module: morebits

#1117 morebits: remove quickForm.element.autoNWSW, unused
  morebits.js
Labels: Deprecations, Module: morebits

#1128 morebits.css: make font sizes consistent across skins, browser settings
  morebits.css
Labels: Module: morebits

#1127 block: Clearer text for partial block summaries
  modules/twinkleblock.js
Labels: Module: block

#1129 tag: Fix bug disallowing Bad trace on SVGs
  modules/friendlytag.js
Labels: Bug, Module: tag

#1135 config: Fix jump-to-section behavior
  modules/twinkleconfig.js
Labels: Bug, Module: config

#1136 config: Use consistent heading ids for links
  modules/twinkleconfig.js
Labels: Bug, Deprecations, Module: config

#1139 morebits: fix error handling on no connectivity
  morebits.js
Labels: Bug, Module: morebits

#1078 morebits: Rename wikitext.template.parse to wikitext.parseTemplate
  modules/twinkledeprod.js
  morebits.js
Labels: Deprecations, Module: morebits, Module: prod

#1120 fluff: Add MajavahBot to trustedBots
  modules/twinklefluff.js
Labels: Enhancement, Module: fluff

#1123 talkback: Add more noticeboards and remove adminNoticeHeading preference
  modules/friendlytalkback.js
  modules/twinkleconfig.js
  twinkle.js
Labels: Deprecations, Enhancement, Module: talkback
