Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-02, with the labels that each got.

#831 speedy: Fix bug affecting checking of warnuser when toggling modes
  modules/twinklespeedy.js
Labels: Bug, Module: speedy

#833 Allow quickForm select elements to be disabled in morebits, apply to the partialblock preset menu
  modules/twinkleblock.js
  morebits.js
Labels: Enhancement, Module: block, Module: morebits

#838 tag: add two highly used redirect templates
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#837 block: Add additional partial blocking templates
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#829 tag: fix broken discussion links in merge tags
  modules/friendlytag.js
Labels: Bug, Module: tag

#843 warn: Fix bug with kitchensink edit summaries
  modules/twinklewarn.js
Labels: Bug, Module: warn

#842 xfd: Update technical RM hidden comment
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#834 speedy: Remove unnecessary checkbox disabling code
  modules/twinklespeedy.js
Labels: Module: speedy

#840 tag: Add some common/popular redirect tags
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#827 arv: Reorder so that VAO and promo-only are together, spambot is last
  modules/twinklearv.js
Labels: Module: arv

#823 prod: Include a link to the log for file nomination logging
  modules/twinkleprod.js
Labels: Module: prod

#847 block: Add uw-aepblock
  modules/twinkleblock.js
Labels: Module: block

#832 warn/fluff: Move code adding extraparams to user talk from warn to fluff
  modules/twinklefluff.js
  modules/twinklewarn.js
Labels: Enhancement, Module: fluff, Module: warn

#824 config: change commonEnums object to just contain the watchlist object
  modules/twinkleconfig.js
Labels: Module: config

#819 twinkle.js: Only load on sysop-only special pages for sysops
  twinkle.js
Labels: Module: twinkle

#845 block: Disable CU/OS options unless user has the relevant perms
  modules/twinkleblock.js
Labels: Module: block

#836 xfd: Make target required for tfm/cfd/cfds, and specify action in cfd-notify
  modules/twinklexfd.js
  morebits.js
Labels: Enhancement, Module: morebits, Module: xfd

#862 xfd: Fix two bugs when RfDing soft redirects
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#851 Add uw-upeblock to block options
  modules/twinkleblock.js
Labels: Module: block

#828 Remove Twinkle.userAuthorized
  modules/twinklefluff.js
  twinkle.js
Labels: Module: twinkle

#848 speedy: disable G8 and T2 rationale when deleting
  modules/twinklespeedy.js
Labels: Module: speedy

#849 speedy: Add additional user talk notification parameters (utparams)
  modules/twinklespeedy.js
Labels: Enhancement, Module: speedy

#870 protect: Fix bug affecting untagging on PC-ineligible namespaces
  modules/twinkleprotect.js
Labels: Bug, Module: protect

#859 speedy: Allow G4 and G5 when multiple
  modules/twinklespeedy.js
Labels: Enhancement, Module: speedy

#868 speedy: Add utparams for A5 and P1
  modules/twinklespeedy.js
Labels: Enhancement, Module: speedy

#854 xfd: Use shorter comment and regex to avoid constantly updating RM/TR comment
  modules/twinklexfd.js
Labels: Module: xfd

#858 block: Use word boundary regex to match bot usernames
  modules/twinkleblock.js
Labels: Module: block

#865 xfd: Disable rm in categoryspace, ffd outside filespace
  modules/twinklexfd.js
Labels: Module: xfd

#818 speedy: return slightly sooner if getParameters doesn't return anything
  modules/twinklespeedy.js
Labels: Module: speedy

#872 speedy: Fix long-standing bug in G6 copypaste notice
  modules/twinklespeedy.js
Labels: Bug, Module: speedy
