Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-04, with the labels that each got.

#902 talkback: Add preview
  modules/friendlytalkback.js
Labels: Enhancement, Module: talkback

#904 morebits: Don't overwrite link color CSS
  morebits.css
Labels: Bug, Module: morebits

#899 arv: Correctly handle all diff link formats in free_resolves
  modules/twinklearv.js
Labels: Bug, Module: arv

#914 fluff: Fix revert coming from contribs if diffonly is used
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#906 morebits, batch: Use Morebits.date to format protection confirmations/notes
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  morebits.js
Labels: Enhancement, Module: batch, Module: morebits

#907 morebits: Some tweaks to Morebits.date
  morebits.js
Labels: Module: morebits

#916 sync.pl: Change how push/pull/deploy parameters are used
  DEVELOPER.md
  Makefile
  sync.pl
Labels: Docs

#921 morebits.date: Fix bug parsing parens around UTC timestamps
  morebits.js
Labels: Bug, Module: morebits

#922 warn: Ignore case when parsing warning history
  modules/twinklewarn.js
Labels: Bug, Module: warn

#918 speedy: Don't notify users of deletion until deletion has succeeded
  modules/twinklespeedy.js
Labels: Bug, Module: speedy

#925 warn: Remove uw-bizlist
  modules/twinklewarn.js
Labels: Module: warn

#855 warn: Check if reverting user actually reverted
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#897 xfd: Enable CfD for stub templates, fix cfd(s)/tfd namespace previews
  modules/twinklexfd.js
Labels: Bug, Enhancement, Module: xfd

#917 Add pagetriage in place of patrol for NPP
  modules/friendlytag.js
  modules/twinkleconfig.js
  modules/twinkleprod.js
  modules/twinklespeedy.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Bug, Enhancement, Module: config, Module: morebits, Module: prod, Module: speedy, Module: tag, Module: twinkle, Module: xfd

#928 morebits: Reintroduce to deprecate removed Date getUTCMonthNames prototypes
  morebits.js
Labels: Bug, Module: morebits

#931 xfd: Use UTC for log pages, headers
  modules/twinklexfd.js
Labels: Bug, Module: xfd
