Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-05, with the labels that each got.

#933 tag: Remove {{duplicate}}
  modules/friendlytag.js
Labels: Module: tag

#936 morebits: Fix date parsing for Firefox 75
  morebits.js
Labels: Bug, Module: morebits

#937 config: Correctly mark disabledSysopModules pref as adminOnly
  modules/twinkleconfig.js
Labels: Bug, Module: config

#939 friendlywelcome: Add welcome-retro
  modules/friendlywelcome.js
Labels: Enhancement, Module: welcome

#941 fluff: fix two ancient bugs: typo and type
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#927 Style options load/parse notifications as errors
  twinkle.js
Labels: Module: twinkle

#878 morebits/speedy/prod: add Morebits.userspaceLogger
  modules/twinkleprod.js
  modules/twinklespeedy.js
  morebits.js
Labels: Enhancement, Module: morebits, Module: prod, Module: speedy

#943 block: Fix partialblock language when block is infinite
  modules/twinkleblock.js
Labels: Module: block

#953 xfd: Fix bug formatting whitespace match in MfD dateheader regex
  modules/twinklexfd.js
Labels: Bug, Module: xfd
