Repository wikimedia-gadgets/twinkle, pull requests merged in 2020-08, with the labels that each got.

#1080 welcome: Fix key in autowelcome
  modules/friendlywelcome.js
Labels: Bug, Module: welcome

#1081 lint: Upgrade eslint to 7.6.0, accept minor versions
  package-lock.json
  package.json
Labels: dependencies

#965 config: Remove obsolete torev option from openTalkPage
  modules/twinkleconfig.js
Labels: Bug, Deprecations, Module: config

#1030 xfd: The Great Cleanup
  modules/twinklexfd.js
Labels: Enhancement, Module: xfd

#1089 block: add uw-botuhblock
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#1095 prod: Add AfDM to tag_re
  modules/twinkleprod.js
Labels: Bug, Module: prod

#1033 xfd: undisable all options, use warning texts instead
  modules/twinklexfd.js
Labels: Enhancement, Module: xfd

#1034 Bump font size to 12px
  morebits.css
Labels: Enhancement, Module: morebits

#992 Friendly Tag: Separate file tag data and rendering
  modules/friendlytag.js
Labels: Module: tag

#1102 prod: Restore notification on PRODBLP
  modules/twinkleprod.js
Labels: Bug, Module: prod

#996 tag: Add {{Image hoax}}
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#1074 (batch)protect: Consolidate duplicate lists, filter out improper options
  modules/twinklebatchprotect.js
  modules/twinkleprotect.js
Labels: Bug, Module: protect

#1097 block: Prevent infinite blocks of IP addresses
  modules/twinkleblock.js
Labels: Module: block

#1076 protect: Allow presets to override protection length
  modules/twinkleprotect.js
Labels: Enhancement, Module: protect

#1073 fluff: Revert multiple hidden revisions in a row
  modules/twinklefluff.js
Labels: Module: fluff

#969 Add support for change tags, remove `summaryAd`
  modules/friendlyshared.js
  modules/friendlytag.js
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklefluff.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Deprecations, Enhancement, Module: config, Module: morebits, Module: twinkle, Other wikis

#1104 xfd: Fix CfD/S tagging: cfdstarget !== cfdtarget
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#1101 morebits: Output API error code along with the error
  morebits.js
Labels: Module: morebits

#1086 morebits: Disable parse report in preview output
  morebits.js
Labels: Module: morebits

#1070 fluff: Don't add rollback links to the top history revision if there's just one user
  modules/twinklefluff.js
Labels: Enhancement, Module: fluff

#1110 xfd/prod: userspace logging: minor fixes
  modules/twinkleprod.js
  modules/twinklexfd.js
  morebits.js
Labels: Bug, Enhancement, Module: prod, Module: xfd
