Repository wikimedia-gadgets/twinkle, pull requests merged in 2021-08, with the labels that each got.

#1433 Tick the noinclude box when protecting a subpage of AfD
  modules/twinkleprotect.js
Labels: Module: protect

#1420 friendlywelcome: fix #1419
  modules/friendlywelcome.js
Labels: Module: welcome

#1393 fluff: make rollback links and separators selectable via CSS
  modules/twinklefluff.js
Labels: Module: fluff
