Repository wikimedia-gadgets/twinkle, pull requests merged in 2021-05, with the labels that each got.

#1400 tag: fix typo: "grahpics"->"graphics"
  modules/friendlytag.js
Labels: Module: tag

#1276 tag: Add R to subpage
  modules/friendlytag.js
Labels: Feature request, Module: tag

#1385 morebits: add $data attribute for quickForm elements
  morebits.js
Labels: Module: morebits

#1383 Revert "morebits: createHtml: sanitize html attributes"
  morebits.js
  tests/morebits.createHtml.js
Labels: Module: morebits, Tests

#1329 talkback: Remove cleanup for talkbackHeading prefs with erroneous equals signs
  modules/friendlytalkback.js
  modules/twinkleconfig.js
Labels: Module: config, Module: talkback

#1352 block: Add option to default to blocking the /64, off by default
  modules/twinkleblock.js
  modules/twinkleconfig.js
  twinkle.js
Labels: Feature request, Module: block, Module: config, Module: twinkle

#1374 add Morebits.l10n
  morebits.js
Labels: Module: morebits

#1407 Use DOM .focus() instead of jQuery
  morebits.js
Labels: Module: morebits
