Repository wikimedia-gadgets/twinkle, pull requests merged in 2021-03, with the labels that each got.

#1343 morebits: status: add extra class on actionCompleted message
  morebits.js
Labels: Module: morebits

#1286 speedy: Add preference to watchlist user page on notification
  modules/twinkleconfig.js
  modules/twinklespeedy.js
  twinkle.js
Labels: Enhancement, Module: config, Module: speedy, Module: twinkle

#1339 morebits: Update statusElement on successful lookupCreation
  morebits.js
Labels: Bug, Module: morebits

#1340 tag: Use separate mb.w.page instance for lookup
  modules/friendlytag.js
Labels: Bug, Module: tag

#1341 arv: Remove duplicate sockpuppets from report
  modules/twinklearv.js
Labels: Bug, Module: arv

#1330 speedy: Consolidate repetitive appends into a single function
  modules/twinklespeedy.js
Labels: Module: speedy

#1331 morebits.css: Add 2px margin-right to checkboxes, clearer spacing between elements
  morebits.css
Labels: Enhancement, Module: morebits

#1328 talkback: Simplify menu a bit, reducing redundant talkback items
  modules/friendlytalkback.js
  modules/twinkleconfig.js
Labels: Module: config, Module: talkback

#1348 talkback: Allow template-space for discussions for DYK
  modules/friendlytalkback.js
Labels: Bug, Module: talkback

#1361 Revert "Fixes after renaming of {{Rfd}} and Module:RfD"
  modules/twinkleprod.js
  modules/twinklespeedy.js
  morebits.js
Labels: Module: morebits, Module: speedy

#1355 morebits: fix typos
  morebits.js
Labels: Module: morebits

#1332 speedy: F7a (immediate deletion of invalid fair-use tag) removed after RfC
  modules/twinkleimage.js
  modules/twinklespeedy.js
Labels: Module: speedy

#1362 tag: Escape redirect tags when creating regex
  modules/friendlytag.js
Labels: Bug, Module: tag

#1345 morebits: quickform: fix duplication of IDs in select/optgroup
  morebits.js
Labels: Deprecations, Module: morebits

#1363 morebits: Remove deprecated RegExp.escape
  morebits.js
Labels: Module: morebits

#1267 morebits: Allow html in labels for most quickForm element types
  morebits.js
Labels: Enhancement, Module: morebits
