Repository wikimedia-gadgets/twinkle, pull requests merged in 2021-02, with the labels that each got.

#1294 warn & block: Change reference to "level 2 heading" to "talk page section"
  modules/twinkleblock.js
  modules/twinklewarn.js
Labels: Enhancement, Module: block, Module: warn

#1295 twinkle: Add mw-portlet class to Vector outerdiv, removes newly-(re)established bullets
  twinkle.js
Labels: Module: twinkle

#1300 fix tests for morebits.date
  tests/morebits.date.js
Labels: Tests

#1302 Fixes after renaming of {{Rfd}} and Module:RfD
  modules/twinkleprod.js
  modules/twinklespeedy.js
  morebits.js
Labels: Module: morebits, Module: prod, Module: speedy

#1308 warn: Fix bug in section insertion when non-L2 headings present
  modules/twinklewarn.js
Labels: Bug, Module: warn

#1305 xfd: Use new rfd=yes parameter for {{Xfd edit protected}}
  modules/twinklexfd.js
Labels: Bug, Module: xfd

#1310 tests: Fix typo in morebits.string tests
  tests/morebits.string.js
Labels: Tests

#1266 Improve and expand handling of IP ranges
  modules/friendlyshared.js
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinkleblock.js
  modules/twinklefluff.js
  modules/twinklewarn.js
  morebits.js
  tests/morebits.js
Labels: Bug, Enhancement, Module: arv, Module: block, Module: fluff, Module: morebits, Module: talkback, Module: warn, Module: welcome, Tests, Things to think about

#1297 morebits: Reorganize ip functions into Morebits.ip, add Morebits.ip.isRange to avoid mw.util.isIPAddress
  modules/friendlytalkback.js
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinkleblock.js
  modules/twinklefluff.js
  modules/twinklewarn.js
  morebits.js
  tests/morebits.ip.js
  tests/morebits.js
Labels: Deprecations, Enhancement, Module: arv, Module: block, Module: fluff, Module: morebits, Module: talkback, Module: warn, Module: welcome, Tests

#1291 block: Show the length of the last block if it expired naturally
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#1316 protect: Fetch watched status of the page to properly watch when requesting
  modules/twinkleprotect.js
Labels: Bug, Module: protect

#1309 morebits: Correct jquery dialog event name
  morebits.js
Labels: Bug, Module: morebits

#1313 remove type=error in mw.notify on TWPREF load failures
  twinkle.js
Labels: Module: twinkle

#1293 protect: Allow admins to mark page protections that were requested at RfPP
  modules/twinkleprotect.js
Labels: Enhancement, Module: protect

#1323 block: Leave block template on the page of the current IP even when blocking a /64
  modules/twinkleblock.js
Labels: Enhancement, Module: block

#1314 block: Hide rather than disable CUOS options
  modules/twinkleblock.js
Labels: Module: block

#1312 tag: Avoid regex inefficiency
  modules/friendlytag.js
Labels: Module: tag

#1298 Morebits.date.add: parseInt number to be nice, throw if NaN
  morebits.js
  tests/morebits.date.js
Labels: Bug, Module: morebits

#1320 block: Only select {{rangeblock}} for non-/64 ranges
  modules/twinkleblock.js
Labels: Module: block

#1280 Return from Morebits.wiki.preview, use to generate {{Find sources}}
  modules/twinkleprod.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Enhancement, Module: morebits, Module: prod, Module: twinkle, Module: xfd

#1317 morebits: lookupCreation: add failure callback
  morebits.js
Labels: Enhancement, Module: morebits

#1304 morebits: Add number input type to quickform, use in tag
  modules/friendlytag.js
  morebits.js
Labels: Enhancement, Module: morebits, Module: tag

#1333 tag: R from template shortcut merged with R from shortcut
  modules/friendlytag.js
Labels: Module: tag

#1327 block: Reword uw-efblock reason to say 'Repeatedly triggering' rather than 'Deliberately triggering'
  modules/twinkleblock.js
Labels: Module: block

#1338 fluff: Stopgap for #1337 errors
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#1191 tag: COI: Add area for automatically starting a discussion on the talkpage
  modules/friendlytag.js
Labels: Enhancement, Module: tag

#1325 Pull repetitive namespace-sort into Twinkle function
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkledeprod.js
  modules/twinkleunlink.js
  twinkle.js
Labels: Module: batch, Module: twinkle, Module: unlink

#1319 morebits: taskManager: enable failure handling and setting context
  morebits.js
Labels: Module: morebits

#1321 config: partially port to use jQuery
  modules/twinkleconfig.js
Labels: Module: config

#1301 morebits: Add/subtract weeks in Morebits.date and create fnApplyWatchlistExpiry to decide whether/when to apply a watchlist expiry
  morebits.js
  tests/morebits.date.js
Labels: Enhancement, Module: morebits, Tests

#1322 morebits: Expand setWatchlist handling of expiry, default to infinity for watch/preferences
  morebits.js
Labels: Module: morebits
