Repository wikimedia-gadgets/twinkle, pull requests merged in 2021-09, with the labels that each got.

#1440 speedy: fix talk page deletion condition
  modules/twinklespeedy.js
Labels: Module: speedy

#1441 morebits: quickform: handle undefined label to fix bug in PROD
  morebits.js
Labels: bug, Module: morebits

#1430 protect: Implement #1429
  modules/twinkleprotect.js
Labels: Module: protect

#1443 twinkle: add class to vector dropdown
  twinkle.js
Labels: Module: twinkle

#1444 tag: add {{Inappropriate person}}
  modules/friendlytag.js
Labels: Module: tag
