Repository wikimedia-gadgets/twinkle, pull requests merged in 2021-04, with the labels that each got.

#1370 morebits: render wikilink syntax and sanitize HTML in status and quickForm labels
  morebits.js
  tests/mocking/mb_repl_head.js
  tests/morebits.createHtml.js
Labels: Module: morebits, Tests

#1354 add i18n support for morebits
  morebits.js
Labels: Module: morebits

#1372 morebits: createHtml: don't render wikilinks inside <code> tags
  morebits.js
  tests/morebits.createHtml.js
Labels: Module: morebits, Tests

#1377 twinkle.css: Add 2px margin-right to checkboxes in prefs
  modules/twinkleconfig.js
  twinkle.css
Labels: Module: config, Module: twinkle

#1371 move some css to morebits.css, rather than embed in js
  modules/twinkleunlink.js
  morebits.css
Labels: Module: morebits, Module: unlink
