Repository wikimedia-gadgets/twinkle, pull requests merged in 2021-11, with the labels that each got.

#1448 twinklewarn: Improve edit summaries for uw-paidX and uw-coi-username
  modules/twinklewarn.js
Labels: Module: warn

#1451 prod: adjust deletion tag regex to avoid matching {{Deleted on Commons}}
  modules/twinkleprod.js
Labels: bug, Module: prod

#1464 tag: add {{Template:R from non-neutral name}}
  modules/friendlytag.js
Labels: Module: tag

#1465 warn: add level4im to {{uw-attempt}} warning series
  modules/twinklewarn.js
Labels: Module: warn

#1462 tag: add {{Excessive examples}} to article maintenance tags
  modules/friendlytag.js
Labels: Module: tag

#1461 tag: remove {{r from historic name}}
  modules/friendlytag.js
Labels: Module: tag

#1474 arv: remove the SPI notification checkbox
  modules/twinklearv.js
Labels: Module: arv

#1471 xfd: read delsort topics from wiki page
  modules/twinklexfd.js
Labels: Module: xfd

#1472 tag: add validations to redirect tags
  modules/friendlytag.js
Labels: Module: tag
