Repository wikimedia-gadgets/twinkle, pull requests merged in 2021-01, with the labels that each got.

#1257 fluff: Remove unused userIpLink function, not in use since 2010
  modules/twinklefluff.js
Labels: Module: fluff

#1253 batchprotect: Show image uploader/editor info, like batch delete
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
Labels: Enhancement, Module: batch

#1256 morebits.sanitizeIPv6: Allow CIDR notation
  morebits.js
  tests/morebits.js
Labels: Enhancement, Module: morebits

#1251 batch/deprod/unlink: Sort lists of pages by namespace then title
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkledeprod.js
  modules/twinkleunlink.js
Labels: Bug, Module: batch, Module: prod, Module: unlink

#1218 tag: duflu merged to needtrans at TfD
  modules/friendlytag.js
Labels: Module: tag

#1269 welcome: Fix welcome-short parameter syntax
  modules/friendlywelcome.js
Labels: Bug, Module: welcome

#1261 morebits.wikitext.parseTemplate: Fix bug parsing terminal template parameters
  morebits.js
  tests/morebits.wikitext.js
Labels: Bug, Module: morebits

#1252 deprod: Remove pointless searching for files since we're exlcuding them
  modules/twinkledeprod.js
Labels: Module: prod

#1263 arv: Add a blank newline after UAA entries
  modules/twinklearv.js
Labels: Module: arv

#1273 fluff: Fix parameter for setting watchlist expiry when editing
  modules/twinklefluff.js
Labels: Bug, Module: fluff

#1274 morebits: Fix handling of circular redirect page load
  morebits.js
Labels: Bug, Module: morebits

#1262 Morebits.namespaceRegex for matching all namespace capitalizations and aliases, use in morebits and modules
  modules/friendlytalkback.js
  modules/twinklebatchdelete.js
  modules/twinkleimage.js
  modules/twinklespeedy.js
  modules/twinklexfd.js
  morebits.js
  tests/morebits.js
  tests/morebits.wikitext.js
Labels: Enhancement, Module: batch, Module: morebits, Module: speedy, Module: talkback, Module: xfd, Tests

#1248 unlink: Properly show what will happen to all links
  modules/twinkleunlink.js
Labels: Module: unlink

#1277 morebits/fluff/xfd/protect: Update watchlist expiry handling for expiry return after T268834
  modules/twinklefluff.js
  modules/twinkleprotect.js
  modules/twinklexfd.js
  morebits.js
Labels: Bug, Enhancement, Module: fluff, Module: morebits, Module: protect, Module: xfd

#1284 block: AP2 amended to post-1992
  modules/twinkleblock.js
Labels: Module: block

#1279 Morebits.wiki.page.setWatchlist: Accept nochange option
  morebits.js
Labels: Enhancement, Module: morebits

#1281 Morebits.status: Add Morebits.status.status
  morebits.js
Labels: Module: morebits

#1271 fluff: Change 'Reverted to revision' edit summary to 'Restored revision'
  modules/twinklefluff.js
Labels: Module: fluff

#1265 warn: move {{uw-agf-sock}} from singlewarn to singlenotice
  modules/twinklewarn.js
Labels: Module: warn

#1288 tag: Hide subheadings on quick filter
  modules/friendlytag.js
Labels: Bug, Module: tag

#1254 Generate links for batchprotect/batchundelete (arrows) and unlink (title links)
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkledeprod.js
  modules/twinkleunlink.js
  twinkle.js
Labels: Enhancement, Module: batch, Module: prod, Module: twinkle, Module: unlink

#1289 twinkle: Remove unused preferences from default config
  twinkle.js
Labels: Module: twinkle

#1290 warn: Add optgroups under All warning templates
  modules/twinklewarn.js
Labels: Enhancement, Module: warn

#1249 twinkle.js: Set most watchlist defaults to 1 month expiry
  modules/twinkleconfig.js
  twinkle.js
Labels: Module: twinkle, Things to think about

#1282 morebits.date: Make unitMap available through Morebits.date.unitMap
  morebits.js
  tests/morebits.date.js
Labels: Enhancement, Module: morebits
