Repository wikimedia-gadgets/twinkle, pull requests merged in 2022-09, with the labels that each got.

#1642 fluff: Fix rollback links for top rev in history
  modules/twinklefluff.js
Labels: Module: fluff

#1616 remove {{Welcome-menu}} and {{Welcome-graphical}}
  modules/friendlywelcome.js
Labels: Module: welcome

#1604 warn: ability to hide linked article and reason
  .github/workflows/unit_tests.yml
  jest.config.js
  modules/twinklewarn.js
  tests/jest.setup.js
  tests/twinklewarn.test.js
Labels: Module: warn, tests
