Repository wikimedia-gadgets/twinkle, pull requests merged in 2022-03, with the labels that each got.

#1535 twinkle.js: add vector-menu-heading to vector dropdown label
  twinkle.js
Labels: Module: twinkle

#1540 Revert "xfd: place new TFDs at bottom of TFD daily log page, not at top"
  modules/twinklexfd.js
Labels: Module: xfd

#1504 unlink: fix colon in title bug
  morebits.js
  tests/morebits.wikitext.js
Labels: Module: morebits, tests

#1524 xfd: Use Deletion sorting/multi
  modules/twinklexfd.js
Labels: Module: xfd

#1513 add back 2 welcome templates
  modules/friendlywelcome.js
Labels: Module: welcome

#1523 tag: {{Merge to}} combined with an article section has incorrect "Discuss" link
  modules/friendlytag.js
Labels: Module: tag
