Repository wikimedia-gadgets/twinkle, pull requests merged in 2022-10, with the labels that each got.

#1450 morebits: load RL modules required for previews
  morebits.js
Labels: bug, Module: morebits

#1652 configure eslint to use es6
  .eslintrc.json
  DEVELOPER.md
  gadget.txt
  package.json
Labels: docs, dependencies, Gadget

#1651 morebits: fix handling of hard errors
  morebits.js
Labels: bug, Module: morebits

#1649 unlink: clearer wording
  modules/twinkleunlink.js
Labels: Module: unlink

#1646 prod: should allow prod even if CSD template present
  modules/twinkleprod.js
Labels: Module: prod
