Repository wikimedia-gadgets/twinkle, pull requests merged in 2022-02, with the labels that each got.

#1508 twinkle,twinkleconfig: add support for vector-2022
  gadget.txt
  modules/twinkleconfig.js
  twinkle.js
Labels: Module: twinkle, Module: config, Gadget

#1505 Remove one of the two newlines before SPI report
  modules/twinklearv.js
Labels: Module: arv

#1526 block: fix {{OversightBlock}} not showing as option
  modules/twinkleblock.js
Labels: Module: block
