Repository wikimedia-gadgets/twinkle, pull requests merged in 2022-08, with the labels that each got.

#1597 protect: comment out protection template for CSS and JS
  modules/twinkleprotect.js
Labels: Module: protect

#1599 prod: remove blpprod warning
  modules/twinkleprod.js
Labels: Module: prod

#1600 xfd: clearer wording for "Notify users of the template"
  modules/twinklexfd.js
Labels: Module: xfd

#1601 warn: add {{Uw-paraphrase}}
  modules/twinklewarn.js
Labels: Module: warn

#1602 twinkle: change default warn from "level 1" to "all"
  twinkle.js
Labels: Module: twinkle

#1605 tag: remove px from form.size
  modules/friendlytag.js
Labels: Module: tag

#1631 twinkle: fix menu appearance for skin vector-2022
  twinkle.js
Labels: Module: twinkle

#1632 config: Replace removed successbox classes
  modules/twinkleconfig.js
Labels: Module: config
