Repository wikimedia-gadgets/twinkle, pull requests merged in 2022-06, with the labels that each got.

#1460 speedy: fix bugs involving watchlist preferences
  modules/twinklespeedy.js
Labels: Module: speedy

#1497 tag: increase whitespace in redirects
  modules/friendlytag.js
Labels: Module: tag

#1528 Add {{uw-islamhon}} series of warnings
  modules/twinklewarn.js
Labels: Module: warn

#1544 protect: Bug fix from #1433 and fixes #1543
  modules/twinkleprotect.js
Labels: Module: protect

#1562 diff: Use mw.config to get revision id
  modules/twinklediff.js
Labels: Module: diff

#1568 warn: add {{Uw-tfd}} 1-4
  modules/twinklewarn.js
Labels: Module: warn

#1572 tag: move "Mark the page as patrolled/reviewed" to top
  modules/friendlytag.js
Labels: Module: tag

#1585 tag: add {{R to ASCII-only}}
  modules/friendlytag.js
Labels: Module: tag

#1579 config: handle ombox deprecation
  modules/twinkleconfig.js
  morebits.css
Labels: Module: morebits, Module: config

#1586 tag: add part and reason params for {{update}}
  modules/friendlytag.js
Labels: Module: tag
