Repository wikimedia-gadgets/twinkle, pull requests merged in 2022-12, with the labels that each got.

#1609 speedy: allow any namespace for "page where deletion discussion took place"
  modules/twinklespeedy.js
Labels: Module: speedy

#1611 twinkle: add preferences link to dropdown menu
  twinkle.js
Labels: Module: twinkle

#1617 protect: don't place reason parameter in protection template
  modules/twinkleprotect.js
Labels: Module: protect

#1620 xfd: better targeting for RM/TR
  modules/twinklexfd.js
Labels: Module: xfd

#1636 protect: sanitized-css: remove newlines when removing protection template
  modules/twinkleprotect.js
Labels: Module: protect

#1643 fluff: refactor history() for readability
  modules/twinklefluff.js
Labels: Module: fluff

#1650 arv: remove "implies shared use"
  modules/twinklearv.js
Labels: Module: arv

#1655 twinkle: notifications for CSD R3 should default to true
  modules/twinkleconfig.js
  twinkle.js
Labels: Module: twinkle, Module: config

#1656 tag: better edit summary for {{rcat shell}}
  modules/friendlytag.js
Labels: Module: tag

#1658 twinkleblock: "Vandalism-only account": Link to policy rather than essay
  modules/twinkleblock.js
Labels: Module: block

#1679 update package-lock.json to be in sync with package.json
  package-lock.json
Labels: dependencies
