Repository wikimedia-gadgets/twinkle, pull requests merged in 2023-05, with the labels that each got.

#1774 block: fix extra period in {{uw-botuhblock}} edit summary
  modules/twinkleblock.js
Labels: Module: block

#1773 warn: fix edit summary for uw-wrongsummary
  modules/twinklewarn.js
Labels: Module: warn

#1758 Add welcome-copyright
  modules/friendlywelcome.js
Labels: Module: welcome

#1762 protect: add generic ECP option to protection module
  modules/twinkleprotect.js
Labels: Module: protect

#1742 warn: add uw-fringe 1-4
  modules/twinklewarn.js
Labels: Module: warn
