Repository wikimedia-gadgets/twinkle, pull requests merged in 2023-07, with the labels that each got.

#1799 fix twinkle menu background on vector-2022 zebra
  twinkle.css
Labels: Module: twinkle

#1802 diff/welcome: readability refactor
  modules/friendlywelcome.js
  modules/twinkleconfig.js
Labels: Module: welcome, Module: config

#1804 welcome: minor refactor
  modules/friendlywelcome.js
Labels: Module: welcome

#1467 tag: add namespace rules for redirect tags
  modules/friendlytag.js
Labels: Module: tag

#1637 protect: sanitized-css: don't tick <noinclude> check box
  modules/twinkleprotect.js
Labels: Module: protect

#1706 twinkle: notifications for CSD C1 should default to true
  twinkle.js
Labels: Module: twinkle

#1741 Added media related and emoji redirect templates
  modules/friendlytag.js
Labels: Module: tag

#1683 Store module prefills under Twinkle.prefill
  modules/friendlywelcome.js
  modules/twinklearv.js
  modules/twinklefluff.js
  modules/twinklewarn.js
  twinkle.js
Labels: Module: fluff, Module: warn, Module: arv, Module: welcome, Module: twinkle

#1734 Fix double punctuation issues at AIV
  modules/twinklearv.js
Labels: Module: arv

#1755 tag: fix pagetriagelist API undefined error
  modules/friendlytag.js
Labels: Module: tag

#1784 tag: add {{r from airport code}} and {{r from airline code}}
  modules/friendlytag.js
Labels: Module: tag

#1792 welcome: add {{WikiProject Women in Red invite}}
  modules/friendlywelcome.js
Labels: Module: welcome

#1825 `npm update`
  package-lock.json
Labels: dependencies
