Repository wikimedia-gadgets/twinkle, pull requests merged in 2023-08, with the labels that each got.

#1823 add documentation for deploying / sync.pl
  DEVELOPER.md
Labels: docs

#1849 `npm update`
  package-lock.json
Labels: dependencies

#1735 Rmtr order
  modules/twinklexfd.js
  tests/jest.setup.js
  tests/twinklexfd.test.js
Labels: Module: xfd, tests

#1752 BUG FIX: Use separate templates for two sections of WP:PNT
  modules/friendlytag.js
Labels: Module: tag

#1797 added {{uw-blar}} and {{uw-articletodraft}}
  modules/twinklewarn.js
Labels: Module: warn

#1798 Added Template:uw-refspam as a single-issue notice #1666
  modules/twinklewarn.js
Labels: Module: warn
