Repository wikimedia-gadgets/twinkle, pull requests merged in 2023-03, with the labels that each got.

#1707 set markTaggedPagesAsPatrolled default to false
  twinkle.js
Labels: Module: twinkle

#1678 #1542 protect: rename {{pp-30-500}} to {{pp-extended}}
  modules/twinkleprotect.js
Labels: Module: protect

#1731 Implement merger of vandal and ipvandal templates
  modules/twinklearv.js
Labels: Module: arv

#1733 Add AI-generated tag
  modules/friendlytag.js
Labels: Module: tag

#1747 protect: clearer wording for edit and move protection
  modules/twinkleprotect.js
Labels: Module: protect

#1708 tag: fix bug where "mark as reviewed" shows up for everyone
  modules/friendlytag.js
Labels: bug, Module: tag

#1756 docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs
