Repository wikimedia-gadgets/twinkle, pull requests merged in 2023-04, with the labels that each got.

#1768 xfd: fix "undefined" error in userspace log XfD CfDS edit summary
  modules/twinklexfd.js
Labels: Module: xfd

#1760 tag: rename {{More footnotes}} to {{More footnotes needed}}
  modules/friendlytag.js
Labels: Module: tag

#1740 warn: Add uw-translation
  modules/twinklewarn.js
Labels: Module: warn
