Repository wikimedia-gadgets/twinkle, pull requests merged in 2023-02, with the labels that each got.

#1713 morebits: support deletetalk/undeletetalk API options
  morebits.js
Labels: Module: morebits

#1721 friendlytag: Remove merged template Over-coverage
  modules/friendlytag.js
Labels: Module: tag

#1722 speedy: Remove speedy deletion criteria F10
  modules/twinkleconfig.js
  modules/twinklespeedy.js
  twinkle.js
Labels: Module: speedy, Module: twinkle, Module: config

#1730 Remove speedy deletion criteria P1 and P2
  modules/twinkleconfig.js
  modules/twinklespeedy.js
  twinkle.js
Labels: Module: speedy, Module: twinkle, Module: config

#1732 Remove A5
  modules/twinkleconfig.js
  modules/twinklespeedy.js
  twinkle.js
Labels: Module: speedy, Module: twinkle, Module: config

#1728 deprod: Remove references to book namespace
  modules/twinkleconfig.js
  modules/twinkledeprod.js
Labels: Module: batch, Module: config

#1720 morebits: stop relying on .toccolours (not available in vector-2022)
  morebits.css
  morebits.js
Labels: Module: morebits
