Repository wikimedia-gadgets/twinkle, pull requests merged in 2023-01, with the labels that each got.

#1693 fix "more" menu's styling in skin vector-2022
  twinkle.js
Labels: Module: twinkle

#1676 twinkle: vector-2022: hovering should open menu
  twinkle.css
Labels: Module: twinkle

#1677 speedy: add {{Db-error}} (G6)
  modules/twinklespeedy.js
Labels: Module: speedy

#1684 xfd: edit summaries should include log page section links
  modules/twinklexfd.js
Labels: Module: xfd

#1685 tag: add {{R from alternative transliteration}} and {{R from film}}
  modules/friendlytag.js
Labels: Module: tag

#1691 release Twinkle under CC BY-SA 3.0
  LICENSE.txt
Labels: docs

#1695 eslint: disallow nested ternaries
  .eslintrc.json
  modules/twinkleblock.js
  morebits.js
Labels: Module: morebits, Module: block

#1664 speedy: add {{db-afc-move}}
  modules/twinklespeedy.js
Labels: Module: speedy

#1667 tag: better detection of "not marked as reviewed"
  modules/friendlytag.js
Labels: Module: tag

#1680 fluff: Add preventDefault to rollback links
  modules/twinklefluff.js
Labels: Module: fluff

#1703 warn: shorten {{Uw-nor}} edit summary
  modules/twinklewarn.js
Labels: Module: warn
