Repository wikimedia-gadgets/twinkle, pull requests merged in 2023-12, with the labels that each got.

#1896 twinkle: fix vector-2022 TW menu bug
  twinkle.js
Labels: Module: twinkle

#1906 Update twinkle.css for Vector Zebra CSS refactor
  twinkle.css
Labels: Module: twinkle

#1904 xfd: in daily log pages, add a line break to the end of some entries
  modules/twinklexfd.js
Labels: Module: xfd

#1902 minor update to deploy documentation
  DEVELOPER.md
Labels: docs

#1893 twinkle-pagestyles.css: expand comment
  twinkle-pagestyles.css
Labels: Module: twinkle
