Repository wikimedia-gadgets/twinkle, pull requests merged in 2023-11, with the labels that each got.

#1881 Twinkle uses new mw.util.addPortlet API
  twinkle.js
Labels: Module: twinkle

#1853 Fix RMTR bug
  modules/twinklexfd.js
Labels: Module: xfd

#1851 fix hideReason not working when used without hideLinkedPage
  modules/twinklewarn.js
Labels: Module: warn

#1850 hideReason=true for Uw-blar and Uw-articletodraft
  modules/twinklewarn.js
Labels: Module: warn

#1887 twinkle: Put TW menu back on the right side of the More menu
  twinkle.js
Labels: Module: twinkle
