Repository wikimedia-gadgets/twinkle, pull requests merged in 2024-12, with the labels that each got.

#2089 autofix some eslint unicorn/prefer-string-slice
  .eslintrc.json
  modules/twinkleconfig.js
  modules/twinklewarn.js
  morebits.js
Labels: Module: morebits, Module: warn, Module: config

#2107 eslint: revert $.extend autofixes
  .eslintrc.json
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinkleblock.js
  modules/twinkleimage.js
  modules/twinklespeedy.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Module: speedy, Module: morebits, Module: warn, Module: xfd, Module: block, Module: batch, Module: twinkle, Module: unlink

#2099 eslint: fix prefer-const
  .eslintrc.json
  modules/twinklebatchprotect.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinkletag.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.js
Labels: Module: tag, Module: speedy, Module: morebits, Module: warn, Module: protect, Module: xfd, Module: block, Module: batch, Module: config

#2100 eslint: fix no-useless-concat
  .eslintrc.json
  modules/twinklearv.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinklerollback.js
  modules/twinkletalkback.js
  morebits.js
Labels: Module: morebits, Module: rollback, Module: arv, Module: block, Module: talkback, Module: config

#2102 eslint: fix no-throw-literal
  .eslintrc.json
  morebits.js
Labels: Module: morebits

#2091 welcome: change {{welcomeunsourced}} to {{welcome-unsourced}} as result of page move
  modules/twinklewelcome.js
Labels: Module: welcome

#2070 arv: refactor SPI report generation
  modules/twinklearv.js
Labels: Module: arv

#2073 tag: remove {{Now Commons}}
  modules/twinkletag.js
Labels: Module: tag

#2110 block: add regression test
  modules/twinkleblock.js
  tests/jest.setup.js
  tests/twinkleblock.test.js
Labels: Module: block, tests

#2113 DEVELOPER.md: add checklist for CSD patches
  DEVELOPER.md
Labels: docs

#2114 eslint: fix no-underscore-dangle
  .eslintrc.json
  modules/twinklebatchdelete.js
  morebits.js
Labels: Module: morebits, Module: batch

#2116 build: run `npm update`
  package-lock.json
Labels: dependencies

#2117 config: delete 14 year old comment
  modules/twinkleconfig.js
Labels: Module: config

#2118 speedy: less sassy error message
  modules/twinklespeedy.js
Labels: Module: speedy

#2120 tag: add tests for checkIncompatible()
  modules/twinkletag.js
  tests/jest.setup.js
  tests/twinkletag.test.js
Labels: Module: tag, tests

#2103 eslint: fix no-return-assign
  .eslintrc.json
  modules/twinkletag.js
  tests/twinkletag.test.js
Labels: Module: tag, tests

#2111 eslint: fix some `camelcase`
  modules/twinkletag.js
Labels: Module: tag

#2125 eslint: replace es-x/no-array-prototype-includes with unicorn/prefer-includes
  .eslintrc.json
  modules/twinklebatchdelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklerollback.js
  modules/twinklespeedy.js
  modules/twinkletag.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Module: tag, Module: speedy, Module: morebits, Module: rollback, Module: warn, Module: protect, Module: xfd, Module: prod, Module: block, Module: batch, Module: twinkle, Module: config, Module: unlink

#2127 eslint: fix camelcase in tests
  tests/.eslintrc.json
  tests/morebits.date.js
Labels: tests

#2129 eslint: fix new-cap in tests
  tests/.eslintrc.json
  tests/morebits.batchOperation.js
  tests/morebits.date.js
  tests/morebits.quickForm.js
  tests/morebits.taskManager.js
  tests/morebits.unbinder.js
  tests/morebits.wikitext.js
Labels: tests

#2131 eslint: fix no-useless-escape in tests
  tests/.eslintrc.json
  tests/morebits.js
Labels: tests

#2132 eslint: fix a couple more new-caps in tests
  tests/morebits.batchOperation.js
  tests/morebits.taskManager.js
  tests/morebits.unbinder.js
  tests/morebits.wikitext.js
Labels: tests
