Repository wikimedia-gadgets/twinkle, pull requests merged in 2024-10, with the labels that each got.

#2015 warn: fix typo in uw-longsd
  modules/twinklewarn.js
Labels: Module: warn

#2004 speedy: replace db-templatecat with C4
  modules/twinkleconfig.js
  modules/twinklespeedy.js
Labels: Module: speedy, Module: config

#2002 twinkle: Move nuisance error to console
  twinkle.js
Labels: Module: twinkle

#2003 tag: fix multiple issues grouping
  modules/friendlytag.js
Labels: Module: tag

#2007 tag: disable tagging of category redirects
  modules/friendlytag.js
Labels: Module: tag
