Repository wikimedia-gadgets/twinkle, pull requests merged in 2024-01, with the labels that each got.

#1936 Revert "fix PR labeler"
  .github/labels.yml
Labels: tests

#1935 welcome: fix Women in Red typo
  modules/friendlywelcome.js
Labels: Module: welcome

#1938 warn: add uw-longsd
  modules/twinklewarn.js
Labels: Module: warn

#1865 changed Submit Query to Submit in morebits.js
  morebits.js
Labels: Module: morebits
