Repository wikimedia-gadgets/twinkle, pull requests merged in 2024-11, with the labels that each got.

#2023 Add dark mode compatibility to Twinkle
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinklewarn.js
  modules/twinklexfd.js
  morebits.css
  morebits.js
  tests/__snapshots__/morebits.quickForm.js.snap
  twinkle.css
Labels: Module: morebits, Module: warn, Module: xfd, Module: block, Module: twinkle, Module: config

#2005 tag: add requested additional tags
  modules/friendlytag.js
Labels: Module: tag

#2024 tag: add parenthetical referencing tag
  modules/friendlytag.js
Labels: Module: tag

#2026 tag: Adding {{Cleanup colors}} + {{Overcoloured}}
  modules/friendlytag.js
Labels: Module: tag

#1900 Remove IE 11 compatibility code
  DEVELOPER.md
  modules/friendlytag.js
  modules/friendlywelcome.js
  modules/twinklefluff.js
  modules/twinklewarn.js
  morebits.js
Labels: Module: tag, Module: morebits, Module: fluff, Module: warn, Module: welcome, docs

#1991 add tags and warnings
  modules/friendlytag.js
  modules/twinklewarn.js
Labels: Module: tag, Module: warn

#1992 speedy: update u5, tag: add {{User-generated}}, {{BLP one source}}, {{BLP no footnotes}}
  modules/friendlytag.js
  modules/twinklespeedy.js
Labels: Module: tag, Module: speedy

#2028 talkback: remove leading whitespace on new pages
  modules/friendlytalkback.js
Labels: Module: talkback

#2029 protect: stop noincluded tags breaking headers
  modules/twinkleprotect.js
Labels: Module: protect

#2033 Change markTalkbackAsMinor to default to off
  twinkle.js
Labels: Module: twinkle

#2037 Adding {{uw-pronouns1}}, {{uw-pronouns2}} and {{uw-pronouns3}}
  modules/twinklewarn.js
Labels: Module: warn

#2047 tag: refactor file tag form validation code
  modules/friendlytag.js
Labels: Module: tag

#2041 tag: add {{Maybe free media}} and {{Fake SVG}} for files
  modules/friendlytag.js
Labels: Module: tag

#2049 gadget.txt: sync with what's onwiki
  gadget.txt
Labels: Gadget

#1978 no longer allow users to set portlet preferences
  modules/twinkleconfig.js
  twinkle.js
Labels: Module: twinkle, Module: config

#2045 scripts: delete unused
  .github/labels.yml
  package.json
  scripts/draftRelease.sh
  scripts/morebits-test.js
  scripts/patch-test.js
  scripts/server.js
Labels: dependencies, tests

#2042 welcome: add some {{Welcomeen-XX}} templates
  modules/friendlywelcome.js
Labels: Module: welcome

#1888 Support batch requested moves
  modules/twinklexfd.js
  morebits.js
Labels: Module: morebits, Module: xfd

#2027 prevent placing of protection, XFD, or CSD tags on TimedText pages
  modules/twinkleprotect.js
  modules/twinklespeedy.js
  modules/twinklexfd.js
Labels: Module: speedy, Module: protect, Module: xfd

#2054 xfd: refactor regex to use mw.Title
  modules/twinklexfd.js
Labels: Module: xfd

#2053 welcome: add level 2 headings for foreign language welcomes
  modules/friendlywelcome.js
Labels: Module: welcome

#2059 rollback: support older fluff preferences
  modules/twinklerollback.js
Labels: Module: rollback

#2060 arv: refactor AIV report generation
  modules/twinklearv.js
Labels: Module: arv

#2061 config: don't ignore old fluff preferences
  modules/twinklerollback.js
  twinkle.js
Labels: Module: rollback, Module: twinkle

#2062 arv: refactor UAA report generation
  modules/twinklearv.js
Labels: Module: arv

#2058 eslint: apply autofixes 1
  .eslintignore
  .eslintrc.json
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklediff.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklerollback.js
  modules/twinkleshared.js
  modules/twinklespeedy.js
  modules/twinkletag.js
  modules/twinkletalkback.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklewelcome.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Module: tag, Module: speedy, Module: morebits, Module: rollback, Module: warn, Module: protect, Module: arv, Module: welcome, Module: xfd, Module: prod, Module: block, Module: batch, Module: talkback, Module: twinkle, Module: config, Module: unlink, Module: diff

#2071 rollback: fix "cannot read properties of undefined"
  twinkle.js
Labels: Module: twinkle

#2069 eslint: apply autofixes 2
  .eslintrc.json
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklediff.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklerollback.js
  modules/twinkleshared.js
  modules/twinklespeedy.js
  modules/twinkletag.js
  modules/twinkletalkback.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklewelcome.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Module: tag, Module: speedy, Module: morebits, Module: rollback, Module: warn, Module: protect, Module: arv, Module: welcome, Module: xfd, Module: prod, Module: block, Module: batch, Module: talkback, Module: twinkle, Module: config, Module: unlink, Module: diff

#2085 Fix RM summary/log
  modules/twinklexfd.js
Labels: Module: xfd

#2079 eslint: apply autofixes 3
  .eslintrc.json
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinkleblock.js
  modules/twinkleimage.js
  modules/twinklerollback.js
  modules/twinkleshared.js
  modules/twinklespeedy.js
  modules/twinkletag.js
  modules/twinkletalkback.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklewelcome.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Module: tag, Module: speedy, Module: morebits, Module: rollback, Module: warn, Module: arv, Module: welcome, Module: xfd, Module: block, Module: batch, Module: talkback, Module: twinkle, Module: unlink

#2074 simplify IIFEs
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklediff.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklerollback.js
  modules/twinkleshared.js
  modules/twinklespeedy.js
  modules/twinkletag.js
  modules/twinkletalkback.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklewelcome.js
  modules/twinklexfd.js
  morebits.js
  twinkle.js
Labels: Module: tag, Module: speedy, Module: morebits, Module: rollback, Module: warn, Module: protect, Module: arv, Module: welcome, Module: xfd, Module: prod, Module: block, Module: batch, Module: talkback, Module: twinkle, Module: config, Module: unlink, Module: diff

#2075 gadget.txt: remove requiresES6
  gadget.txt
Labels: Gadget

#2076 twinkle.js: comments to docblocks
  twinkle.js
Labels: Module: twinkle

#2081 fix linter error no-jquery/variable-pattern
  .eslintrc.json
  modules/twinklerollback.js
  modules/twinklewarn.js
  morebits.js
Labels: Module: morebits, Module: rollback, Module: warn

#2082 fix linter error jsdoc/no-undefined-types
  morebits.js
Labels: Module: morebits

#2083 fix linter error no-sequences
  .eslintrc.json
  modules/twinkleblock.js
  modules/twinklexfd.js
  morebits.js
Labels: Module: morebits, Module: xfd, Module: block

#2086 morebits: create capitalized aliases for classes
  morebits.js
Labels: Module: morebits

#2087 capitalize Morebits class names
  modules/twinklearv.js
  modules/twinklebatchdelete.js
  modules/twinklebatchprotect.js
  modules/twinklebatchundelete.js
  modules/twinkleblock.js
  modules/twinkleconfig.js
  modules/twinkledeprod.js
  modules/twinklediff.js
  modules/twinkleimage.js
  modules/twinkleprod.js
  modules/twinkleprotect.js
  modules/twinklerollback.js
  modules/twinkleshared.js
  modules/twinklespeedy.js
  modules/twinkletag.js
  modules/twinkletalkback.js
  modules/twinkleunlink.js
  modules/twinklewarn.js
  modules/twinklewelcome.js
  modules/twinklexfd.js
  morebits.css
  twinkle.js
Labels: Module: tag, Module: speedy, Module: morebits, Module: rollback, Module: warn, Module: protect, Module: arv, Module: welcome, Module: xfd, Module: prod, Module: block, Module: batch, Module: talkback, Module: twinkle, Module: config, Module: unlink, Module: diff

#2088 fix some no-jquery/no-extend autofixes
  modules/twinkleblock.js
  morebits.js
  twinkle.js
Labels: Module: morebits, Module: block, Module: twinkle
