Repository wikimedia-gadgets/twinkle, pull requests merged in 2024-09, with the labels that each got.

#1834 tag: add {{No significant coverage (sports)}} and {{No significant coverage}}
  modules/friendlytag.js
Labels: Module: tag

#1869 added 10 days, 6 months, 2 years in protect
  modules/twinkleprotect.js
Labels: Module: protect

#2006 build: turn off dependabot
  .github/dependabot.yml
  DEVELOPER.md
Labels: docs

#1941 Updating welcome anon templates' names.
  modules/friendlywelcome.js
  modules/twinkleblock.js
Labels: Module: welcome, Module: block

#1943 Welcome user: Add Mentor welcome template
  modules/friendlywelcome.js
Labels: Module: welcome

#1946 arv: censor username if offensive username is ticked
  modules/twinklearv.js
Labels: Module: arv

#1953 tag: Use longer template names for readability
  modules/friendlytag.js
Labels: Module: tag

#1960 tag: Fix removing tags for maintenance templates where |name= points to a redirect
  modules/friendlytag.js
Labels: Module: tag

#1963 Add unsourced, and welcomeen-it/hi/id
  modules/friendlywelcome.js
Labels: Module: welcome

#1973 Update twinklewarn.js with {{uw-usertalk}}
  modules/twinklewarn.js
Labels: Module: warn
