Repository wikimedia-gadgets/twinkle, pull requests merged in 2025-07, with the labels that each got.

#2063 speedy: add {{Db-x3}}
  modules/twinkleconfig.js
  modules/twinklespeedy.js
Labels: Module: speedy, Module: config

#2193 deploy.js: fix gadget definition diffing
  scripts/deploy.js
Labels: deploy.pl

#2188 delete deploy.pl in favor of deploy.js, update DEVELOPER.md
  DEVELOPER.md
  scripts/deploy.pl
Labels: docs

#2150 tag: delete {{Incomprehensible}}
  modules/twinkletag.js
Labels: Module: tag

#2153 tag: replace {{manual}} with {{how-to}}
  modules/twinkletag.js
Labels: Module: tag
